 <div class="header-content">
    <div class="row">
        <div class="col justify-content-start">
            <img src="src/static/img/logo.svg" alt="logo">

        </div>
        <div class="col ml-2 feed-header-menu">
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
        </div>
        <div class="col ml-2">
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
            <a href="#begin">Начало</a>
        </div>
    </div>
</div>
