.feed-header-menu > a{
    font-family:  Netflix Sans;
    color: #fff;
    text-decoration: none;
}

.feed-header-menu > a:hover{
    color: gainsboro;
    text-decoration: underline;
}

.margin-a > a{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}