@font-face {
    font-family: Netflix Sans;
    src: url(/fonts/NetflixSansRegular.ttf);
}

@font-face {
    font-family: NetflixLight;
    src: url(/fonts/NetflixSansLight.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background: #fff;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
