<button class="primary__modal" onclick="window.dialog.showModal();"><b>Рейтинг:</b>
    <span id="rating"></span></button>
<dialog id="dialog">

    <div class="rating__container">
        <div class="rating__container__numbers">
            <div class="rating__numbers">
                <div class="styles_star"></div>
                <button class="styles_item styles_negativeRating" data-rating="1" type="button">
                    <span class="styles_itemValue">1</span>
                </button>
                <button class="styles_item styles_negativeRating" data-rating="2" type="button">
                    <span class="styles_itemValue__g3cE1">2</span>
                </button>
                <button class="styles_item styles_negativeRating" data-rating="3" type="button">
                    <span class="styles_itemValue__g3cE1">3</span>
                </button>
                <button class="styles_item styles_negativeRating" data-rating="4" type="button">
                    <span class="styles_itemValue__g3cE1">4</span>
                </button>
                <button class="styles_item styles_neutralRating" data-rating="5" type="button">
                    <span class="styles_itemValue">5</span>
                </button>
                <button class="styles_item styles_neutralRating"data-rating="6" type="button">
                    <span class="styles_itemValue">6</span>
                </button>
                <button class="styles_item styles_positiveRating" data-rating="7" type="button">
                    <span class="styles_itemValue">7</span>
                </button>
                <button class="styles_item styles_positiveRating" data-rating="8" type="button">
                    <span class="styles_itemValue">8</span>
                </button>
                <button class="styles_item styles_positiveRating" data-rating="9" type="button">
                    <span class="styles_itemValue">9</span>
                </button>
                <button class="styles_item styles_positiveRating" data-rating="10" type="button">
                    <span class="styles_itemValue">10</span>
                </button>
            </div>


        </div>



        <div class="ContentActions_button_trash">
            <button class="Button_root" name="Remove rating">
                <span class="Button_inner">
                    <svg width="2.4rem" height="2.4rem" viewBox="0 0 24 24" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" data-tid="Trash">
                        <path fill-rule="evenodd"
                            d="M9.7 6.7v-2h4.6v2H9.7Zm-2.4 0V3.8a1.5 1.5 0 0 1 1.5-1.5h6.4a1.5 1.5 0 0 1 1.5 1.5v2.9H21v2.4h-2.5v11.4h-13V9.1H3V6.7h4.3Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </span>
            </button>
        </div>

    </div>
    <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
</dialog>