<div class="login-page" style="animation: show .2s ease;">
    {{> components/login-background}}
    <div class="login-page__container">
        {{> partial/header/partial-header loginPage=true kind="login-page"}}

        {{> components/login-form}}
        {{> partial/footer/partial-footer}}
    </div>

</div>