<div class="login-page">
    {{> login-background}}
    <div class="login-page__container">
        {{> partial-header loginPage=true kind="login-page"}}

        {{> login-form}}

    </div>
    {{> partial-footer}}
</login>