@import url(components/login-background.css);
@import url(components/login-form.css);

.login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .login-page {
        overflow: AUTO;
    }

    .main-register-page{
        overflow: auto;
    }
}

.login-page__container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    display: flex;
}