:root {
    --primary: #41fffeba;
    --primary-hover: #41fffe8f;

    --dark: #333;
    --dark-hover: #33333386;
}

.t-white {
    color: white;
}

.t-dark {
    color: var(--dark);
}

.t-dark:hover {
    color: var(--dark-hover);
}