.dropdown {
    width: 200px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    font-family: Netflix;
}

.dropdown>a {
    border-radius: 2px;
    box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
}

.dropdown ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.dropdown-logo {
    pointer-events: none;
    display: flex;
    justify-content: center;
    padding: 0 0 0 10px;
    height: 50px;
    text-decoration: none;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.dropdown-item {
    display: block;
    padding: 0 0 0 10px;
    text-decoration: none;
    line-height: 40px;
    z-index: 10;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: dimgray;
}

.dropdown li {
    list-style-type: none;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.dropdown.hover li {
    transition: all .3s;
}

.dropdown li:first-child a {
    border-radius: 2px 2px 0 0;
}

.dropdown li:last-child a {
    border-radius: 0 0 2px 2px;
}

.dropdown li:first-child a::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
    margin: -10px 0 0 60px;
}

.dropdown-item:hover,
.dropdown a:hover {
    list-style-type: none;
    font-weight: bold;
    background-color: var(--dark-hover);
    color: white;
}

.dropdown>a:hover::after {
    border-top-color: #AAA;
}

.dropdown li:first-child a:hover::before {
    border-bottom-color: #EEE;
}

.dropdown.hover.visible li,
.dropdown.hover:hover li {
    height: 40px;
}

.dropdown.hover.visible li:first-child,
.dropdown.hover:hover li:first-child {
    padding-top: 15px;
}