@media screen and (min-width: 1920px) {
    .header-content {
        max-width: calc(66.66666666666666% - 6rem);
    }
}

@media screen and (min-width: 1280px) {
    .header-content {
        max-width: calc(83.33333333333334% - 6rem);
    }
}

@media screen and (min-width: 960px) {
    .header-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .header-content {
        max-width: calc(66.66666666666666% - 6rem);
    }
}

.header-content {
    position: relative;
    width: inherit;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
    z-index: 1;/*Для правильного позиционирования компонента на слое*/
}

.btn-signIn{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border-radius: 0;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    cursor: default;
    display: inline;
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: gainsboro;
    border-radius: 2px;
    border: 1px solid dimgray;
    box-sizing: border-box;
    color: black;
    cursor: default;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 13px;
    font-weight: 400;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    padding: 2px 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    fill: currentColor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color,border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    vertical-align: text-top;
    width: auto;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    background: rgb(229,9,20);
    color: rgb(255,255,255);
}
