@import url(colors.css);
@import url(scrollbar.css);

@import url(../../partial/partial.css);
@import url(../../pages/login/login.css);
@import url(../../pages/feed/feed.css);
@import url(../../components/notify/notify.css);
@import url(../../pages/register/register.css);
@import url(../../pages/main/main.css);
@import url(../../pages/404/404.css);
@import url(../../pages/content/content.css);
@import url(../../pages/profile/profile-page.css);
@import url(../../pages/cast/cast.css);
@import url(./dropdown.css);
@import url(../icons/netflix.css);
@import url(../../pages/genre/genre.css);
@import url(../../pages/serials/serials-feed/serial-constnt.css);

@font-face {
	font-family: Netflix;
	src: url(../fonts/NetflixSansMedium.ttf);
	src: url(../fonts/NetflixSansBold.ttf);
	src: url(../fonts/NetflixSansLight.ttf);
	src: url(../fonts/NetflixSansRegular.ttf);
	src: url(../fonts/NetflixSansThin.ttf);
}

body {
	margin: 0;
	padding: 0;
	background: black;
	overflow-x: hidden;
	position: relative;
}

html {
	font-family: Netflix;
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

[disable="true"] {
	pointer-events: none;
	cursor: default;
	text-decoration: none !important;
	color: black !important;
}

iframe {
	animation: show 0.5s ease-in-out;
}

.glow-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	font-size: 4rem;
	text-align: center;
	color: #fff;
	display: block;
	font-weight: 600;
	text-shadow: 0 0 4px #12000a;
	text-transform: uppercase;
	font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
	width: 100vw;
}