<div class="login-page">
   <div class="login-page__login-background" style="background-image: url('/img/drama.jpg');"></div>
    <div class="login-page__container">
        {{> partial/header/partial-header loginPage=true kind="login-page"}}

        {{> components/register-form}}
        {{> partial/footer/partial-footer}}
    </div>

</div>