@import url(components/start-register-form.css);
@import url(components/register-form.css);

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.main-register-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-register-page__container {
    position: absolute;
    width: 100vw;
}