<div class="login-page">
  <div class="login-page__login-background" style="background-image: url('/img/main.jpg');"></div>
  <div  class="login-page__container">
    {{> partial/header/partial-header kind="main-page" mainPage=true}}

    {{> components/start-register-form }}

    {{> partial/footer/partial-footer}}
  </div>
</div>