.input-container-already-created {
    margin-top: 16px;
}

.form-input-already-created {
    border-radius: 0;
}


.input-container-create-password {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-top: 0.5rem
}

.form-input-create-password {
    border-radius: 4px;
}
