<div class="main">
    {{> partial-header kind="main-page" mainPage=true}}

    {{> main-background}}

    {{> main-form}}

    {{> main-banner}}

    {{> main-content
    firstMode=true
    Title="Наслаждайтесь на своем телевизоре"
    Description="Смотрите на телевизорах Smart TV, Playstation, Xbox,
    Chromecast, Apple TV, Blu-ray плеерах и многом
    другом."
    content='<img src="src/static/img/tv.webp" alt>
    <div class="main-content__video-container">
        <video autoplay playsinline muted loop>
            <source src="src/static/video/tv-main.m4v" type="video/mp4">
        </video>
    </div>'
    }}

    {{> main-content
    secondMode=true
    Title="Смотрите везде"
    Description="Смотрите потоки неограниченных
    фильмов и телепередач на своем телефоне, планшете,
    ноутбуке и телевизоре."
    content='<img src="src/static/img/device-pile.webp" alt="imac">
    <div class="main-content__video-container imac">
        <video autoplay playsinline muted loop>
            <source src="src/static/video/video-devices.m4v"
                type="video/mp4">
        </video>
    </div>'
    }}

    {{> main-content
    firstMode=true
    Title="Создавайте профили для
    детей"
    Description="Отправляйте детей в приключения с их любимыми
    персонажами в пространстве, созданном специально для
    них — бесплатно с вашим членством."
    content='<img src="src/static/img/kids.webp" alt="kids">'
    }}

    {{> main-content
    secondMode=true
    Title="Загружайте свои шоу для
    просмотра в автономном режиме"
    Description="Доступно только в тарифных планах без рекламы."
    content='<img src="src/static/img/mobile-0819.jpg" alt="mobile">
    <div class="phone-background-content">
        <div class="phone-background-content__col-poster">
            <img alt="poster" src="src/static/img/boxshot.jpg"
                class="phone-background-content__image">
        </div>
        <div class="phone-background-content__col-text">
            <div class="phone-background-content__title">Очень
                странные дела
            </div>
            <div class="phone-background-content__subtitle">Загрузка...
            </div>
        </div>
        <div class="phone-background-content__col-spinner"></div>
    </div>'
    }}

    {{> partial-footer}}
</div>
