<div class="main" style="animation: show .2s ease;">
   {{> partial/header/partial-header kind="main-page" mainPage=true}}

    {{> components/main-background}}

    {{> partial/footer/partial-footer}}
</div>
