@import url(components/main-form.css);
@import url(components/main-banner.css);
@import url(components/main-background.css);
@import url(components/main-content.css);

.main {
    margin: 0;
    padding: 0;
    font-family: Netflix;
    color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}