.feed-content-main {
    width: 100%;
}

.feed-content-info {
    position: absolute;
    height: 500px;
    width: 600px;
    top: 150px;
    left: 50px;
    padding: 3rem;
    background: linear-gradient(336deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 70.71%);
    box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.6), -25px -25px 50px rgba(0, 0, 0, 0.6);
}

.feed-content-info>p {
    line-height: 1.6;
    font-family: NetflixLight;
}

.btn-main-play {
    display: flex;
    width: 167px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: #FFF;
    color: black;
}

.btn-main-info {
    display: flex;
    width: 281px;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.20);
}