<div class="header-content" kind="{{kind}}">
    <div class="header-content__row">
        <!-- Колонка логотипа {Существует всегда} -->
        <div class="header-content__column">
            {{> partial/netflix-logo/netflix-logo}}
        </div>

        <!-- Колонка ссылок {Только у подборок} -->
        {{#if feedPage}}
        <div class="header-content__links">
            <a href="/" spa-link>Начало</a>
            <a href="/admin" spa-link>Статистика</a>
            <a href="/serials" spa-link>Сериалы</a>
            <a href="/list" spa-link>Избранное</a>
        </div>
        <div style="display: flex; flex-direction: column">
            <div class="search-box">
                <button class="btn-search"><i class="search-icon"></i></button>
                <input type="text" class="input-search" placeholder="Поищем?)">
            </div>
            <div id="search-list" class="dropdown hover">
                <ul id="dropdown-list"></ul>
            </div>
        </div>
        {{/if}}

        <!-- Колонка действие {
                                    Существует вариативно:
                                    -main: Ссылка входа
                                    -login: отстуствует
                                    -register: Ссылка входа
                                    -feed: DropdownList с аватаркой пользователя и меню действий
                                    } 
            -->
        <div class="col d-flex justify-content-end">

            {{#if mainPage}}
            {{> partial/button/btn-link href="/login" kind="primary"
            label="Войти"}}
            {{/if}}

            {{#if regPage}}
            {{> partial/button/btn-link href="/login" kind="secondary"
            label="Войти"}}
            {{/if}}

            {{#if profilePage}}
            <div class="dropdown hover">
                <a class="dropdown-logo">
                    {{> partial/avatar/avatar
                    avatarUrl="/img/camera_50.png"}}
                </a>
                <ul>
                    <li> <a class="dropdown-item" id="logout">
                            <i class="logout-icon"></i>
                            Выйти</a> </li>
                </ul>
            </div>
            {{/if}}
            {{#if feedPage}}
            <div class="dropdown hover">
                <a class="dropdown-logo">
                    {{> partial/avatar/avatar
                    avatarUrl="/img/camera_50.png"}}
                </a>
                <ul>
                    <li>
                        <a class="dropdown-item" href="/profile" spa-link>
                            <i class="profile-icon"></i>
                            Профиль
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" id="logout">
                            <i class="logout-icon"></i>
                            Выйти
                        </a>
                    </li>
                </ul>
            </div>
            {{/if}}

        </div>
    </div>
</div>