 <div class="header-content" kind="{{kind}}">
    <div class="row" style="width: 100%;">
        <!-- Колонка логотипа {Существует всегда} -->
        <div class="col justify-content-start">
            {{> netflix-logo}}
        </div>

        <!-- Колонка ссылок {Только у подборок} -->
        {{#if feedPage}}
        <div
            class="partial-header--link-block ml-3 col d-flex align-items-center feed-header-menu margin-a">
            <a href="/" spa-link>Начало</a>
            <a href="#serials">Сериалы</a>
            <a href="#films">Фильмы</a>
            <a href="#list">Избранное</a>
        </div>
        {{/if}}

        <!-- Колонка действие {
                                    Существует вариативно:
                                    -main: Ссылка входа
                                    -login: отстуствует
                                    -register: Ссылка входа
                                    -feed: DropdownList с аватаркой пользователя и меню действий
                                    } 
            -->
        <div class="col d-flex justify-content-end">

            {{#if mainPage}}
            {{> btn-link href="/login" kind="primary"
            label="Войти"}}
            {{/if}}

            {{#if regPage}}
            {{> btn-link href="/login" kind="secondary"
            label="Войти"}}
            {{/if}}

            {{#if profilePage}}
            <nav style="position: absolute;">
                <ul class="drop-down closed">
                    <li kind={{kind}}>
                        <a class="nav-button" id="dropdown">
                            {{> avatar avatarUrl="/src/static/img/avatarStatic.jpg"}}
                        </a>
                    </li>
                    <li kind={{kind}}>
                        <a id="logout">Выйти</a>
                    </li>
                </ul>
            </nav>
            {{/if}}
            {{#if feedPage}}
            <nav style="position: absolute;">
                <ul class="drop-down closed">
                    <li>
                        
                        <a  class="nav-button" id="dropdown">
                            {{> avatar avatarUrl="/src/static/img/avatarStatic.jpg"}}
                        </a>
                    </li>
                    <li>
                        <a href="/profile" spa-link>Профиль</a>
                    </li>
                    <li>
                        <a id="logout">Выйти</a>
                    </li>
                </ul>
            </nav>
            {{/if}}

        </div>
    </div>
</div>