.header-content {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 0;
    z-index: 1;
    transition: max-width 0.5s, min-width 0.5s, padding 0.5s;
}

.header-content[kind="main-page"],
.header-content[kind="login-page"] {
    width: 100%;
    display: flex;
}

.header-content[kind="feed-page"] {
    margin: 0;
}

.header-content__row{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}
.header-content__links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 30px;
}

.header-content__links a{
    color: #fff;
    text-decoration: none;
}

.header-content__column{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1920px) {
    .header-content {
        max-width: calc(66.66666666666666% - 6rem);
    }
}

@media screen and (min-width: 1280px) {
    .header-content {
        max-width: calc(100% - 4rem);
    }
}

@media screen and (min-width: 960px) {
    .header-content {
        max-width: calc(100% - 4rem);
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 959px) {
    .header-content {
        max-width: calc(100% - 4rem);
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.feed-header-menu>a {
    font-family: Netflix;
    color: #fff;
    text-decoration: none;
}

.feed-header-menu>a:hover {
    color: gainsboro;
    text-decoration: underline;
}

.margin-a>a {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}