.header-content {
    position: relative;
    z-index: 1;
    transition: max-width 0.5s, min-width 0.5s, padding 0.5s;
}

.header-content[kind="main-page"],
.header-content[kind="login-page"] {
    width: 100%;
    display: flex;
}

.header-content[kind="feed-page"] {
    margin: 0;
}

.header-content[kind="feed-page"] .header-content__row {
    width: auto !important;
}

.header-content__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    gap: 10px;
    padding: 2rem;
    align-items: center;
}

.header-content__links {
    display: flex;
    font-size: 18px;
    flex-direction: row;
    gap: 20px;
    padding-left: 30px;
    align-items: center;
}

.header-content__links a {
    color: #fff;
    text-decoration: none;
}

.header-content__column {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {

    .input-search {
        width: 200px !important;
        border-radius: 0px !important;
        background-color: transparent !important;
        border-bottom: 1px solid rgba(255, 255, 255, .5) !important;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2) !important;
    }

    .header-content__row {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        WIDTH: 100%;
    }

    .header-content {
        padding: 0;
    }
}


.feed-header-menu>a {
    font-family: Netflix;
    color: #fff;
    text-decoration: none;
}

.feed-header-menu>a:hover {
    color: gainsboro;
    text-decoration: underline;
}

.margin-a>a {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}






.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    width: 0px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--primary);
    padding-right: 40px;
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    background-color: transparent;
    border-radius: 50%;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 100%;
    outline: none;
    pointer-events: painted;
    position: absolute;
    right: 0;
    width: 50px;
}

.btn-search:focus~.input-search {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.small-menu .burger {
    margin-bottom: 12px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked~.menu-list {
    animation: show .3s ease-in-out;
    opacity: 1;
    height: auto;
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.menu-list {
    top: 0;
    left: 0;
    opacity: 0;
    display: grid;
    gap: 12px;
    margin: 0;
    opacity: 0;
    height: 0;
    list-style-type: none;
    transition: .3s;
    padding: 0;
}

.menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255, 255, 255, .2)
}

@media (min-width: 900px) {
    .large-menu {
        display: flex !important;
    }

    .large-menu_el {
        display: flex !important;
    }

    .small-menu {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .large-menu_el {
        display: none !important;
    }

    .large-menu {
        display: none !important;
    }

    .small-menu {
        display: block !important;
    }
}
