<div class="main__background">
    <div class="main__background-shadow">

        <div class="main-form">
            <div>
                <h1>Смех. Слезы. Острые ощущения. Найдите все это на
                    Netflix.</h1>
            </div>
            <div>
                <p class="main-form__description">Стоимость бесконечных
                    развлечений
                    начинается всего с 5,99 евро. Отменить
                    в любое время.</p>
            </div>
            <div class="main-form__email-form">
                <div class="main-form__email-form__container">
                    <form name="mainForm">
                        <h3 style="font-weight: 100; font-size: 16px;">Готовы
                            смотреть? Введите свой адрес электронной
                            почты, чтобы создать или перезапустить
                            подписку.</h3>
                        <div class="main-form__input">
                            {{> input-control placeholder="Email"
                            name="email" type="email"}}
                            {{> button type="submit" label="Начать" kind="primary-button"}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>