 <div class="main-form">
    <div>
        <h1>Смех. Слезы. Острые ощущения. Найдите все это на
            Netflix.</h1>
    </div>
    <div>
        <p class="m-0">Стоимость бесконечных развлечений
            начинается всего с 5,99 евро. Отменить
            в любое время.</p>
    </div>
    <div class="m-0">
        <div class="py-2rem">
            <form name="mainForm" action="post">
                <h3 style="font-weight: 100; font-size: 16px;">Готовы
                    смотреть? Введите свой адрес электронной
                    почты, чтобы создать или перезапустить
                    подписку.</h3>
                <div class="main-form__input">
                    {{> input-control extraClass="me-3" placeholder="Email"
                    name="email" type="email"}}
                    {{> button type="submit" label="Начать" extraClass="button"}}
                </div>
            </form>
        </div>
    </div>
</div>