.main-content {
    display: flex;
    justify-content: center;
    border-top: 8px solid #454545;
    min-height: auto;
    padding: 4.5rem 0;
}

.main-content__video-container {
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.imac {
    left: 23%;
    max-height: 47%;
    max-width: 30%;
    top: 34%;
}

.main-content__video-container video {
    display: inline-block;
    vertical-align: baseline;
}


.phone-background-content {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 15rem;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    width: 50%;
}

.phone-background-content__col-poster {
    font-family: Netfli;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0;
    margin: 0 1rem 0 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.phone-background-content__col-text {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0;
    text-align: left;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3rem 0;
}

.phone-background-content__title {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    text-align: left;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
}

.phone-background-content__subtitle {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    text-align: left;
    letter-spacing: 0;
    font-weight: 400;
    color: #0071eb;
    font-size: 0.875rem;
}

.phone-background-content__col-spinner {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0;
    width: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
    background: url(../../../static/img/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3.75rem;
}

.phone-background-content__image {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0;
    border: 0;
    height: 5rem;
}

.content-block {
    position: relative;
}

.main-content_container {
    text-align: center;
    max-width: 540px;
}

.main-content_container__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .video-panel {
        display: none;
    }
    .main-content_container{
        transform: scale(.7);
    }
}