.main-form {
    max-height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-form__title {
    font-weight: 900;
    font-size: large;
}

.main-form__input {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.main-form__description,
.main-form__email-form {
    margin: 0;
}

.main-form__email-form__container {
    padding-left: 2rem;
    padding-right: 2rem;
}