<div class="main__background" style="background-image: url('/img/drama.jpg');">
    <div class="main__background-shadow">

        <div class="main-form">
            <div>
                <h1 class="main-form__title">EyeScreen: Погружение в мир развлечений без границ!</h1>

            </div>
            <div>
                <h3 class="main-form__description main-form__title">
                    Стоимость бесконечных развлечений начинается всего с 2 рублей.</h3>
            </div>
            <div class="main-form__email-form">
                <div class="main-form__email-form__container">
                    <form name="mainForm">
                        <h3 class="main-form__title">Готовы к бескрайнему потоку впечатлений? Введите свой адрес электронной почты, чтобы начать свое увлекательное приключение с EyeScreen</h3>
                        <div class="main-form__input">
                            {{> partial/input-control/input-control default=true placeholder="Email"
                            name="email" type="email"}}
                            {{> partial/button/button type="submit" label="Начать" kind="primary-button"}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>