.main__background {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: scale(1.25) translateY(-10%);
    background-image: url(../../../static/img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.main__background-shadow {
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}


@media screen and (max-width: 900px) {
    .main-form {
        transform: scale(.7);
        text-align: center;
    }
}