 <div class="w-100">
    <div class="banner-container">
        <div>
            <img src="src/static/img/banner-icon.svg" alt="banner-icon">
        </div>
        <div style="margin-left: 32px;">
            <p>Любимый вами Netflix всего за 5,99 евро.</p>
            <p>Получите тарифный план "Стандарт с рекламой".</p>
            <a class="banner-container__button-link">Подробнее
                <svg width="24" height="24" viewBox="0 0 24 24"
                    fill="none" xmlns="http://www.w3.org/2000/svg"
                    data-mirrorinrtl="true"
                    class="default-ltr-cache-4z3qvp e1svuwfo1"
                    data-name="ChevronRight" aria-hidden="true"><path
                        fill-rule="evenodd" clip-rule="evenodd"
                        d="M15.5859 12L8.29303 19.2928L9.70725 20.7071L17.7072 12.7071C17.8948 12.5195 18.0001 12.2652 18.0001 12C18.0001 11.7347 17.8948 11.4804 17.7072 11.2928L9.70724 3.29285L8.29303 4.70706L15.5859 12Z"
                        fill="currentColor"></path></svg>
            </a>
        </div>
    </div>
</div>