<div class="w-100">
    <div class="banner-container">
        <div>
            <svg width="97" height="96" viewBox="0 0 97 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2_156)">
                    <path
                        d="M48.81 95.213C75.32 95.213 96.81 91.338 96.81 86.557C96.81 81.777 75.32 77.902 48.81 77.902C22.3 77.902 0.809998 81.777 0.809998 86.557C0.809998 91.337 22.3 95.213 48.81 95.213Z"
                        fill="url(#paint0_radial_2_156)" />
                    <path
                        d="M48.81 77.115C75.32 77.115 96.81 60.028 96.81 38.951C96.81 17.873 75.32 0.786987 48.81 0.786987C22.3 0.786987 0.809998 17.874 0.809998 38.95C0.809998 60.026 22.3 77.115 48.81 77.115Z"
                        fill="url(#paint1_radial_2_156)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M76.186 75.624C76.3618 75.1797 76.3986 74.6925 76.2916 74.2268C76.1845 73.7612 75.9387 73.339 75.5865 73.0161C75.2343 72.6932 74.7924 72.4848 74.3192 72.4184C73.846 72.3521 73.3638 72.431 72.9364 72.6446C72.5091 72.8582 72.1566 73.1965 71.9256 73.6148C71.6946 74.0331 71.5961 74.5116 71.643 74.9871C71.6898 75.4626 71.8799 75.9127 72.1881 76.2778C72.4963 76.6429 72.9081 76.9059 73.369 77.032C73.307 77.189 73.262 77.352 73.235 77.518C72.5115 77.9343 71.9828 78.6209 71.7651 79.4267C71.5474 80.2326 71.6585 81.0919 72.074 81.816C72.2798 82.1745 72.5542 82.4889 72.8816 82.7413C73.2089 82.9937 73.5828 83.1791 73.9819 83.287C74.381 83.3948 74.7974 83.4229 75.2073 83.3697C75.6172 83.3165 76.0127 83.1831 76.371 82.977C76.4325 83.5185 76.6335 84.0348 76.9545 84.4753C77.2754 84.9159 77.7052 85.2655 78.2018 85.4901C78.6984 85.7147 79.2448 85.8065 79.7876 85.7565C80.3303 85.7065 80.8507 85.5165 81.298 85.205C81.4489 85.5229 81.669 85.803 81.9422 86.0248C82.2153 86.2466 82.5347 86.4045 82.8767 86.487C83.2188 86.5695 83.575 86.5744 83.9193 86.5015C84.2635 86.4285 84.5871 86.2795 84.8663 86.0653C85.1455 85.8511 85.3732 85.5772 85.5329 85.2637C85.6926 84.9501 85.7801 84.6048 85.7891 84.253C85.7981 83.9012 85.7283 83.5519 85.5849 83.2306C85.4414 82.9093 85.2279 82.6241 84.96 82.396C85.5069 81.7977 85.802 81.0116 85.7838 80.2012C85.7656 79.3909 85.4355 78.6188 84.8623 78.0457C84.2891 77.4726 83.5169 77.1427 82.7065 77.1247C81.8962 77.1067 81.1101 77.4019 80.512 77.949C80.1933 77.5715 79.7641 77.3038 79.2849 77.1838C78.8057 77.0637 78.301 77.0974 77.842 77.28C77.7335 76.8839 77.5237 76.523 77.2334 76.2326C76.943 75.9422 76.582 75.7325 76.186 75.624ZM25.203 77.114C25.203 77.424 25.159 77.733 25.069 78.029C25.6717 78.1796 26.235 78.4582 26.7204 78.8458C27.2059 79.2335 27.6022 79.7211 27.8825 80.2755C28.1627 80.83 28.3203 81.4383 28.3446 82.0591C28.3688 82.6798 28.2591 83.2986 28.0229 83.8732C27.7867 84.4478 27.4296 84.9648 26.9759 85.3891C26.5221 85.8135 25.9823 86.1351 25.3931 86.3322C24.804 86.5294 24.1793 86.5973 23.5615 86.5316C22.9438 86.4658 22.3474 86.2677 21.813 85.951C21.3245 86.3441 20.716 86.558 20.089 86.557C19.612 86.558 19.143 86.434 18.729 86.199C18.5517 86.5885 18.2522 86.9095 17.8759 87.1133C17.4995 87.3171 17.067 87.3926 16.6439 87.3282C16.2208 87.2638 15.8303 87.0632 15.5316 86.7567C15.2329 86.4502 15.0424 86.0546 14.989 85.63C14.6332 85.7582 14.2518 85.7991 13.8769 85.7491C13.5021 85.6991 13.1447 85.5598 12.8349 85.3429C12.5251 85.1259 12.272 84.8377 12.0969 84.5025C11.9218 84.1673 11.8299 83.7949 11.8287 83.4167C11.8276 83.0385 11.9174 82.6656 12.0906 82.3294C12.2637 81.9931 12.5151 81.7034 12.8236 81.4847C13.1321 81.2659 13.4887 81.1245 13.8633 81.0723C14.2378 81.0202 14.6195 81.0588 14.976 81.185C14.9542 80.6814 15.0537 80.18 15.266 79.7228C15.4784 79.2657 15.7974 78.8663 16.1962 78.5581C16.5951 78.2499 17.0621 78.0419 17.558 77.9518C18.0539 77.8616 18.5642 77.8919 19.046 78.04C18.9129 77.607 18.8748 77.1505 18.9343 76.7014C18.9937 76.2524 19.1494 75.8215 19.3907 75.4382C19.6319 75.0548 19.9531 74.728 20.3322 74.4801C20.7113 74.2323 21.1394 74.0691 21.5873 74.0018C22.0352 73.9345 22.4924 73.9647 22.9276 74.0902C23.3628 74.2158 23.7658 74.4338 24.109 74.7293C24.4522 75.0248 24.7277 75.391 24.9165 75.8027C25.1053 76.2144 25.203 76.661 25.203 77.114Z"
                        fill="url(#paint2_radial_2_156)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M52.744 20.459C52.744 20.847 52.674 21.219 52.546 21.561C52.78 21.675 52.998 21.817 53.196 21.983C53.5114 21.4587 53.9728 21.0378 54.5237 20.7717C55.0747 20.5057 55.6913 20.406 56.298 20.485C56.6435 19.871 57.185 19.3906 57.8359 19.1209C58.4868 18.8512 59.2094 18.8077 59.8879 18.9974C60.5665 19.187 61.1618 19.599 61.5784 20.1671C61.9951 20.7353 62.209 21.4268 62.186 22.131C62.5953 22.237 62.9791 22.4243 63.3146 22.6816C63.6502 22.939 63.9305 23.2612 64.139 23.629C64.922 23.724 65.64 24.109 66.152 24.707C66.9243 24.3774 67.7818 24.3035 68.5991 24.4961C69.4163 24.6887 70.1506 25.1377 70.6945 25.7775C71.2384 26.4172 71.5633 27.2141 71.6219 28.0518C71.6805 28.8894 71.4696 29.7238 71.02 30.433C71.579 30.808 72.003 31.351 72.232 31.985C72.7081 31.3335 73.4163 30.8896 74.2103 30.7452C75.0042 30.6008 75.8233 30.7668 76.4984 31.2089C77.1735 31.6511 77.653 32.3356 77.8379 33.1211C78.0228 33.9066 77.899 34.7332 77.492 35.43C78.0259 35.4906 78.5354 35.6869 78.9719 36.0002C79.4084 36.3135 79.7575 36.7333 79.9858 37.2197C80.2141 37.7061 80.3141 38.2428 80.2762 38.7788C80.2383 39.3148 80.0638 39.8321 79.7694 40.2816C79.4749 40.731 79.0703 41.0976 78.594 41.3463C78.1177 41.5951 77.5857 41.7178 77.0486 41.7027C76.5115 41.6876 75.9872 41.5352 75.5257 41.2601C75.0642 40.985 74.6807 40.5963 74.412 40.131H25.202V38.923C24.6089 39.2651 23.9205 39.4046 23.241 39.3202C22.5616 39.2359 21.9281 38.9323 21.4367 38.4555C20.9454 37.9787 20.6228 37.3547 20.518 36.6781C20.4132 36.0014 20.5319 35.3091 20.856 34.706C20.2474 34.212 19.845 33.5086 19.7275 32.7335C19.6101 31.9584 19.7861 31.1674 20.221 30.5152C20.656 29.8631 21.3186 29.3966 22.0793 29.2072C22.84 29.0178 23.644 29.119 24.334 29.491C24.6286 29.1274 25.0008 28.8341 25.4233 28.6327C25.8458 28.4313 26.308 28.3269 26.776 28.327C26.7758 27.8792 26.8711 27.4366 27.0557 27.0286C27.2402 26.6207 27.5097 26.2568 27.8461 25.9613C28.1825 25.6658 28.5781 25.4454 29.0064 25.315C29.4347 25.1846 29.886 25.1471 30.33 25.205C30.6411 24.6544 31.1109 24.2103 31.6782 23.9306C32.2454 23.6509 32.8838 23.5486 33.51 23.637C33.1257 22.9907 32.9855 22.2282 33.1148 21.4875C33.244 20.7468 33.6342 20.0768 34.2147 19.5989C34.7953 19.121 35.5277 18.8668 36.2794 18.8822C37.0312 18.8976 37.7526 19.1817 38.313 19.683C39.0084 19.624 39.7038 19.7976 40.2898 20.1766C40.8759 20.5557 41.3195 21.1186 41.551 21.777C41.961 21.501 42.431 21.327 42.922 21.267C43.2693 20.6533 43.8126 20.1739 44.4649 19.9059C45.1171 19.6379 45.8405 19.5967 46.519 19.789C46.6841 19.0301 47.124 18.359 47.754 17.9049C48.384 17.4507 49.1597 17.2454 49.9319 17.3285C50.7041 17.4116 51.4183 17.7773 51.9372 18.3552C52.4562 18.933 52.7441 19.6823 52.744 20.459Z"
                        fill="url(#paint3_radial_2_156)" />
                    <path opacity="0.6"
                        d="M46.843 36.984C47.8247 36.984 48.7968 36.7907 49.7037 36.415C50.6107 36.0393 51.4348 35.4887 52.129 34.7945C52.8231 34.1003 53.3738 33.2762 53.7495 32.3693C54.1251 31.4623 54.3185 30.4902 54.3185 29.5085C54.3185 28.5268 54.1251 27.5547 53.7495 26.6478C53.3738 25.7408 52.8231 24.9167 52.129 24.2225C51.4348 23.5284 50.6107 22.9777 49.7037 22.6021C48.7968 22.2264 47.8247 22.033 46.843 22.033C44.8605 22.033 42.9592 22.8206 41.5574 24.2224C40.1555 25.6242 39.368 27.5255 39.368 29.508C39.368 31.4905 40.1555 33.3918 41.5574 34.7936C42.9592 36.1955 44.8605 36.984 46.843 36.984Z"
                        fill="url(#paint4_radial_2_156)" />
                    <path opacity="0.6"
                        d="M44.482 32.262C45.8386 32.262 47.1396 31.7231 48.0989 30.7638C49.0581 29.8046 49.597 28.5036 49.597 27.147C49.597 25.7904 49.0581 24.4894 48.0989 23.5301C47.1396 22.5709 45.8386 22.032 44.482 22.032C43.1254 22.032 41.8244 22.5709 40.8652 23.5301C39.9059 24.4894 39.367 25.7904 39.367 27.147C39.367 28.5036 39.9059 29.8046 40.8652 30.7638C41.8244 31.7231 43.1254 32.262 44.482 32.262Z"
                        fill="url(#paint5_radial_2_156)" />
                    <path opacity="0.6"
                        d="M42.908 36.197C44.2646 36.197 45.5656 35.6581 46.5248 34.6988C47.4841 33.7396 48.023 32.4386 48.023 31.082C48.023 29.7254 47.4841 28.4244 46.5248 27.4651C45.5656 26.5059 44.2646 25.967 42.908 25.967C41.5514 25.967 40.2504 26.5059 39.2911 27.4651C38.3319 28.4244 37.793 29.7254 37.793 31.082C37.793 32.4386 38.3319 33.7396 39.2911 34.6988C40.2504 35.6581 41.5514 36.197 42.908 36.197Z"
                        fill="url(#paint6_radial_2_156)" />
                    <path opacity="0.6"
                        d="M27.958 38.557C29.3146 38.557 30.6156 38.0181 31.5749 37.0589C32.5341 36.0996 33.073 34.7986 33.073 33.442C33.073 32.0854 32.5341 30.7844 31.5749 29.8252C30.6156 28.8659 29.3146 28.327 27.958 28.327C26.6014 28.327 25.3004 28.8659 24.3412 29.8252C23.3819 30.7844 22.843 32.0854 22.843 33.442C22.843 34.7986 23.3819 36.0996 24.3412 37.0589C25.3004 38.0181 26.6014 38.557 27.958 38.557Z"
                        fill="url(#paint7_radial_2_156)" />
                    <path opacity="0.6"
                        d="M31.105 36.197C32.4616 36.197 33.7626 35.6581 34.7218 34.6988C35.6811 33.7396 36.22 32.4386 36.22 31.082C36.22 29.7254 35.6811 28.4244 34.7218 27.4651C33.7626 26.5059 32.4616 25.967 31.105 25.967C29.7484 25.967 28.4474 26.5059 27.4881 27.4651C26.5289 28.4244 25.99 29.7254 25.99 31.082C25.99 32.4386 26.5289 33.7396 27.4881 34.6988C28.4474 35.6581 29.7484 36.197 31.105 36.197Z"
                        fill="url(#paint8_radial_2_156)" />
                    <path opacity="0.6"
                        d="M31.105 37.77C31.8354 37.77 32.5359 37.4799 33.0524 36.9634C33.5688 36.4469 33.859 35.7464 33.859 35.016C33.859 34.2856 33.5688 33.5851 33.0524 33.0686C32.5359 32.5522 31.8354 32.262 31.105 32.262C30.3746 32.262 29.6741 32.5522 29.1576 33.0686C28.6411 33.5851 28.351 34.2856 28.351 35.016C28.351 35.7464 28.6411 36.4469 29.1576 36.9634C29.6741 37.4799 30.3746 37.77 31.105 37.77Z"
                        fill="url(#paint9_radial_2_156)" />
                    <path opacity="0.2"
                        d="M74.384 36.197C75.1144 36.197 75.8149 35.9069 76.3314 35.3904C76.8479 34.8739 77.138 34.1734 77.138 33.443C77.138 32.7126 76.8479 32.0121 76.3314 31.4957C75.8149 30.9792 75.1144 30.689 74.384 30.689C73.6536 30.689 72.9531 30.9792 72.4366 31.4957C71.9202 32.0121 71.63 32.7126 71.63 33.443C71.63 34.1734 71.9202 34.8739 72.4366 35.3904C72.9531 35.9069 73.6536 36.197 74.384 36.197Z"
                        fill="url(#paint10_radial_2_156)" />
                    <path opacity="0.2"
                        d="M77.531 39.344C78.0527 39.344 78.553 39.1367 78.9219 38.7679C79.2908 38.399 79.498 37.8987 79.498 37.377C79.498 36.8553 79.2908 36.355 78.9219 35.9861C78.553 35.6172 78.0527 35.41 77.531 35.41C77.0093 35.41 76.509 35.6172 76.1401 35.9861C75.7712 36.355 75.564 36.8553 75.564 37.377C75.564 37.8987 75.7712 38.399 76.1401 38.7679C76.509 39.1367 77.0093 39.344 77.531 39.344Z"
                        fill="url(#paint11_radial_2_156)" />
                    <path opacity="0.3"
                        d="M73.597 40.131C74.5361 40.131 75.4368 39.7579 76.1009 39.0939C76.7649 38.4298 77.138 37.5291 77.138 36.59C77.138 35.6509 76.7649 34.7502 76.1009 34.0861C75.4368 33.4221 74.5361 33.049 73.597 33.049C72.6579 33.049 71.7572 33.4221 71.0931 34.0861C70.4291 34.7502 70.056 35.6509 70.056 36.59C70.056 37.5291 70.4291 38.4298 71.0931 39.0939C71.7572 39.7579 72.6579 40.131 73.597 40.131Z"
                        fill="url(#paint12_radial_2_156)" />
                    <path opacity="0.2"
                        d="M59.433 24.393C59.7947 24.393 60.1528 24.3218 60.4869 24.1834C60.821 24.045 61.1246 23.8421 61.3804 23.5864C61.6361 23.3306 61.839 23.027 61.9774 22.6929C62.1158 22.3588 62.187 22.0007 62.187 21.639C62.187 21.2773 62.1158 20.9192 61.9774 20.5851C61.839 20.251 61.6361 19.9474 61.3804 19.6916C61.1246 19.4359 60.821 19.233 60.4869 19.0946C60.1528 18.9562 59.7947 18.885 59.433 18.885C58.7026 18.885 58.0021 19.1752 57.4856 19.6916C56.9692 20.2081 56.679 20.9086 56.679 21.639C56.679 22.3694 56.9692 23.0699 57.4856 23.5864C58.0021 24.1029 58.7026 24.393 59.433 24.393Z"
                        fill="url(#paint13_radial_2_156)" />
                    <path opacity="0.2"
                        d="M49.203 21.246C49.7248 21.246 50.2253 21.0387 50.5942 20.6697C50.9632 20.3007 51.1705 19.8003 51.1705 19.2785C51.1705 18.7567 50.9632 18.2562 50.5942 17.8872C50.2253 17.5183 49.7248 17.311 49.203 17.311C48.6812 17.311 48.1807 17.5183 47.8118 17.8872C47.4428 18.2562 47.2355 18.7567 47.2355 19.2785C47.2355 19.8003 47.4428 20.3007 47.8118 20.6697C48.1807 21.0387 48.6812 21.246 49.203 21.246Z"
                        fill="url(#paint14_radial_2_156)" />
                    <path opacity="0.2"
                        d="M35.826 23.607C36.3478 23.607 36.8482 23.3997 37.2172 23.0307C37.5862 22.6618 37.7935 22.1613 37.7935 21.6395C37.7935 21.1177 37.5862 20.6172 37.2172 20.2483C36.8482 19.8793 36.3478 19.672 35.826 19.672C35.3042 19.672 34.8037 19.8793 34.4348 20.2483C34.0658 20.6172 33.8585 21.1177 33.8585 21.6395C33.8585 22.1613 34.0658 22.6618 34.4348 23.0307C34.8037 23.3997 35.3042 23.607 35.826 23.607Z"
                        fill="url(#paint15_radial_2_156)" />
                    <path opacity="0.2"
                        d="M62.58 33.05C63.9366 33.05 65.2376 32.5111 66.1968 31.5519C67.1561 30.5926 67.695 29.2916 67.695 27.935C67.695 26.5784 67.1561 25.2774 66.1968 24.3182C65.2376 23.3589 63.9366 22.82 62.58 22.82C61.2234 22.82 59.9224 23.3589 58.9631 24.3182C58.0039 25.2774 57.465 26.5784 57.465 27.935C57.465 29.2916 58.0039 30.5926 58.9631 31.5519C59.9224 32.5111 61.2234 33.05 62.58 33.05Z"
                        fill="url(#paint16_radial_2_156)" />
                    <path opacity="0.6"
                        d="M57.86 31.475C58.5377 31.4845 59.2104 31.3592 59.8393 31.1064C60.4681 30.8536 61.0404 30.4784 61.523 30.0025C62.0056 29.5267 62.3887 28.9596 62.6503 28.3344C62.9118 27.7092 63.0465 27.0382 63.0465 26.3605C63.0465 25.6828 62.9118 25.0118 62.6503 24.3866C62.3887 23.7613 62.0056 23.1943 61.523 22.7184C61.0404 22.2426 60.4681 21.8673 59.8393 21.6146C59.2104 21.3618 58.5377 21.2365 57.86 21.246C56.5034 21.246 55.2024 21.7849 54.2431 22.7441C53.2839 23.7034 52.745 25.0044 52.745 26.361C52.745 27.7176 53.2839 29.0186 54.2431 29.9778C55.2024 30.9371 56.5034 31.475 57.86 31.475Z"
                        fill="url(#paint17_radial_2_156)" />
                    <path opacity="0.2"
                        d="M60.22 33.836C61.5766 33.836 62.8776 33.2971 63.8368 32.3379C64.7961 31.3786 65.335 30.0776 65.335 28.721C65.335 27.3644 64.7961 26.0634 63.8368 25.1042C62.8776 24.1449 61.5766 23.606 60.22 23.606C58.8634 23.606 57.5624 24.1449 56.6031 25.1042C55.6439 26.0634 55.105 27.3644 55.105 28.721C55.105 30.0776 55.6439 31.3786 56.6031 32.3379C57.5624 33.2971 58.8634 33.836 60.22 33.836Z"
                        fill="url(#paint18_radial_2_156)" />
                    <path d="M19.695 36.984H64.548L60.613 88.918H22.843L19.695 36.984Z"
                        fill="url(#paint19_linear_2_156)" />
                    <path d="M72.417 85.77L60.613 88.918L64.548 36.984L79.498 40.918L72.417 85.77Z"
                        fill="url(#paint20_linear_2_156)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M47.14 47.333L47.394 36.983H38.006L38.11 46.823C36.4712 47.1893 34.8982 47.8048 33.446 48.648L33.119 36.984H23.712L26.639 88.918H34.582L34.265 77.698C35.5886 78.3692 36.9971 78.858 38.452 79.151L38.557 88.918H46.115L46.365 78.817C47.6497 78.4418 48.8838 77.9112 50.04 77.237L49.67 88.918H57.991L60.732 36.984H51.315L50.927 49.221C49.7508 48.4314 48.4776 47.7968 47.139 47.333H47.14ZM63.218 88.223L66.168 87.437L72.013 38.949L67.512 37.763L63.218 88.223ZM67.848 86.989L70.165 86.371L78.003 40.525L73.628 39.373L67.848 86.989ZM54.317 62.95C54.317 69.903 48.681 75.54 41.727 75.54C34.773 75.54 29.137 69.904 29.137 62.95C29.137 55.996 34.773 50.36 41.727 50.36C48.681 50.36 54.317 55.996 54.317 62.95ZM47.145 69.745L45.45 64.26L49.558 61.213C49.6217 61.1658 49.6695 61.1003 49.695 61.0252C49.7206 60.9502 49.7226 60.8691 49.7009 60.7928C49.6791 60.7166 49.6347 60.6488 49.5734 60.5984C49.5122 60.5481 49.437 60.5176 49.358 60.511C47.6329 60.3718 45.9042 60.2804 44.174 60.237L42.098 54.525C42.0703 54.4492 42.0199 54.3837 41.9537 54.3375C41.8875 54.2912 41.8087 54.2664 41.728 54.2664C41.6473 54.2664 41.5685 54.2912 41.5023 54.3375C41.4361 54.3837 41.3858 54.4492 41.358 54.525L39.282 60.237C37.522 60.281 35.792 60.374 34.097 60.511C34.0181 60.5179 33.9433 60.5487 33.8823 60.5992C33.8213 60.6496 33.7771 60.7175 33.7557 60.7937C33.7342 60.8699 33.7364 60.9508 33.762 61.0257C33.7876 61.1006 33.8354 61.1659 33.899 61.213L38.006 64.259L36.31 69.744C36.2859 69.8221 36.2867 69.9056 36.3122 69.9832C36.3377 70.0608 36.3866 70.1285 36.4523 70.177C36.518 70.2256 36.5971 70.2525 36.6787 70.2541C36.7604 70.2557 36.8405 70.2319 36.908 70.186L41.728 66.905L46.548 70.186C46.6155 70.2321 46.6956 70.2562 46.7773 70.2547C46.859 70.2533 46.9382 70.2265 47.004 70.1781C47.0698 70.1296 47.1189 70.0619 47.1445 69.9844C47.1701 69.9068 47.171 69.8231 47.147 69.745H47.145Z"
                        fill="url(#paint21_linear_2_156)" />
                    <path opacity="0.4"
                        d="M17.728 82.623C18.2497 82.623 18.75 82.4158 19.1189 82.0469C19.4878 81.678 19.695 81.1777 19.695 80.656C19.695 80.1343 19.4878 79.634 19.1189 79.2651C18.75 78.8963 18.2497 78.689 17.728 78.689C17.2063 78.689 16.706 78.8963 16.3371 79.2651C15.9682 79.634 15.761 80.1343 15.761 80.656C15.761 81.1777 15.9682 81.678 16.3371 82.0469C16.706 82.4158 17.2063 82.623 17.728 82.623Z"
                        fill="url(#paint22_radial_2_156)" />
                    <path opacity="0.4"
                        d="M14.58 84.984C15.1018 84.984 15.6023 84.7767 15.9712 84.4077C16.3402 84.0388 16.5475 83.5383 16.5475 83.0165C16.5475 82.4947 16.3402 81.9943 15.9712 81.6253C15.6023 81.2563 15.1018 81.049 14.58 81.049C14.0582 81.049 13.5577 81.2563 13.1888 81.6253C12.8198 81.9943 12.6125 82.4947 12.6125 83.0165C12.6125 83.5383 12.8198 84.0388 13.1888 84.4077C13.5577 84.7767 14.0582 84.984 14.58 84.984Z"
                        fill="url(#paint23_radial_2_156)" />
                    <path opacity="0.4"
                        d="M16.941 84.984C17.4628 84.984 17.9632 84.7767 18.3322 84.4077C18.7012 84.0388 18.9085 83.5383 18.9085 83.0165C18.9085 82.4947 18.7012 81.9943 18.3322 81.6253C17.9632 81.2563 17.4628 81.049 16.941 81.049C16.4192 81.049 15.9187 81.2563 15.5498 81.6253C15.1808 81.9943 14.9735 82.4947 14.9735 83.0165C14.9735 83.5383 15.1808 84.0388 15.5498 84.4077C15.9187 84.7767 16.4192 84.984 16.941 84.984Z"
                        fill="url(#paint24_radial_2_156)" />
                    <path opacity="0.4"
                        d="M20.089 86.557C20.3473 86.557 20.6031 86.5061 20.8417 86.4073C21.0804 86.3084 21.2972 86.1635 21.4799 85.9809C21.6625 85.7982 21.8074 85.5814 21.9063 85.3427C22.0051 85.1041 22.056 84.8483 22.056 84.59C22.056 84.3317 22.0051 84.0759 21.9063 83.8372C21.8074 83.5986 21.6625 83.3818 21.4799 83.1991C21.2972 83.0165 21.0804 82.8716 20.8417 82.7727C20.6031 82.6739 20.3473 82.623 20.089 82.623C19.5673 82.623 19.067 82.8302 18.6981 83.1991C18.3292 83.568 18.122 84.0683 18.122 84.59C18.122 85.1117 18.3292 85.612 18.6981 85.9809C19.067 86.3497 19.5673 86.557 20.089 86.557Z"
                        fill="url(#paint25_radial_2_156)" />
                    <path opacity="0.4"
                        d="M83.04 85.77C83.5617 85.77 84.062 85.5628 84.4309 85.1939C84.7998 84.825 85.007 84.3247 85.007 83.803C85.007 83.2813 84.7998 82.781 84.4309 82.4121C84.062 82.0432 83.5617 81.836 83.04 81.836C82.5183 81.836 82.018 82.0432 81.6491 82.4121C81.2802 82.781 81.073 83.2813 81.073 83.803C81.073 84.3247 81.2802 84.825 81.6491 85.1939C82.018 85.5628 82.5183 85.77 83.04 85.77Z"
                        fill="url(#paint26_radial_2_156)" />
                    <path opacity="0.4"
                        d="M82.646 82.623C83.272 82.623 83.8724 82.3743 84.3151 81.9316C84.7578 81.4889 85.0065 80.8885 85.0065 80.2625C85.0065 79.6364 84.7578 79.036 84.3151 78.5934C83.8724 78.1507 83.272 77.902 82.646 77.902C82.0199 77.902 81.4195 78.1507 80.9769 78.5934C80.5342 79.036 80.2855 79.6364 80.2855 80.2625C80.2855 80.8885 80.5342 81.4889 80.9769 81.9316C81.4195 82.3743 82.0199 82.623 82.646 82.623Z"
                        fill="url(#paint27_radial_2_156)" />
                    <path opacity="0.4"
                        d="M78.712 82.623C79.338 82.623 79.9385 82.3743 80.3811 81.9316C80.8238 81.4889 81.0725 80.8885 81.0725 80.2625C81.0725 79.6364 80.8238 79.036 80.3811 78.5934C79.9385 78.1507 79.338 77.902 78.712 77.902C78.086 77.902 77.4856 78.1507 77.0429 78.5934C76.6002 79.036 76.3515 79.6364 76.3515 80.2625C76.3515 80.8885 76.6002 81.4889 77.0429 81.9316C77.4856 82.3743 78.086 82.623 78.712 82.623Z"
                        fill="url(#paint28_radial_2_156)" />
                    <path opacity="0.4"
                        d="M75.957 81.836C76.6874 81.836 77.3879 81.5458 77.9044 81.0294C78.4209 80.5129 78.711 79.8124 78.711 79.082C78.711 78.3516 78.4209 77.6511 77.9044 77.1346C77.3879 76.6182 76.6874 76.328 75.957 76.328C75.2266 76.328 74.5261 76.6182 74.0096 77.1346C73.4932 77.6511 73.203 78.3516 73.203 79.082C73.203 79.8124 73.4932 80.5129 74.0096 81.0294C74.5261 81.5458 75.2266 81.836 75.957 81.836Z"
                        fill="url(#paint29_radial_2_156)" />
                    <path opacity="0.4"
                        d="M19.302 84.984C20.0325 84.984 20.7332 84.6938 21.2497 84.1772C21.7663 83.6606 22.0565 82.96 22.0565 82.2295C22.0565 81.4989 21.7663 80.7983 21.2497 80.2818C20.7332 79.7652 20.0325 79.475 19.302 79.475C18.5715 79.475 17.8708 79.7652 17.3543 80.2818C16.8377 80.7983 16.5475 81.4989 16.5475 82.2295C16.5475 82.96 16.8377 83.6606 17.3543 84.1772C17.8708 84.6938 18.5715 84.984 19.302 84.984Z"
                        fill="url(#paint30_radial_2_156)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M74.777 79.475C75.403 79.4752 76.0033 79.7241 76.4458 80.1669C76.8884 80.6096 77.137 81.21 77.137 81.836C77.5881 81.8357 78.034 81.9324 78.4445 82.1196C78.8549 82.3067 79.2204 82.5798 79.5161 82.9205C79.8118 83.2612 80.0308 83.6614 80.1583 84.0941C80.2858 84.5268 80.3189 84.9819 80.2552 85.4285C80.1915 85.8751 80.0325 86.3027 79.7891 86.6825C79.5457 87.0623 79.2236 87.3854 78.8444 87.6298C78.4653 87.8742 78.038 88.0343 77.5916 88.0992C77.1452 88.1641 76.69 88.1323 76.257 88.006C76.0936 88.5751 75.7222 89.062 75.2165 89.3701C74.7108 89.6782 74.1078 89.7849 73.5271 89.6691C72.9464 89.5533 72.4304 89.2234 72.0816 88.7449C71.7328 88.2664 71.5766 87.6743 71.644 87.086C71.107 86.8347 70.6654 86.417 70.3847 85.8947C70.1041 85.3725 69.9994 84.7736 70.0862 84.1872C70.173 83.6007 70.4467 83.0579 70.8666 82.6393C71.2865 82.2208 71.8302 81.9489 72.417 81.864V81.836C72.417 81.2101 72.6656 80.6098 73.1082 80.1672C73.5508 79.7246 74.1511 79.475 74.777 79.475Z"
                        fill="url(#paint31_radial_2_156)" />
                </g>
                <defs>
                    <radialGradient id="paint0_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(48.81 86.604) rotate(-90) scale(8.70201 48.2567)">
                        <stop offset="0.286" stop-color="#7D2889" />
                        <stop offset="0.724" stop-color="#FF66D9" stop-opacity="0.41" />
                        <stop offset="1" stop-color="white" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint1_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(48.81 39.155) rotate(-90) scale(38.3681 48.2567)">
                        <stop stop-color="#FFCA45" />
                        <stop offset="0.453" stop-color="#FF66D9" stop-opacity="0.36" />
                        <stop offset="1" stop-color="white" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint2_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(47.63 79.476) rotate(180) scale(37.7705 37.7705)">
                        <stop offset="0.432" stop-color="#FF8B54" />
                        <stop offset="0.76" stop-color="#FFBB8D" />
                        <stop offset="1" stop-color="#F9DDD1" />
                    </radialGradient>
                    <radialGradient id="paint3_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(48.417 27.934) rotate(-90) scale(10.623 28.257)">
                        <stop offset="0.302" stop-color="#F9DDD1" />
                        <stop offset="0.674" stop-color="#FFBB8D" />
                        <stop offset="1" stop-color="#FF8B54" />
                    </radialGradient>
                    <radialGradient id="paint4_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(46.842 29.948) rotate(90) scale(7.03568)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint5_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(44.482 27.448) rotate(90) scale(4.81389)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint6_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(42.908 31.382) rotate(90) scale(4.81389)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint7_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(27.957 33.743) rotate(90) scale(4.81389)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint8_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(31.105 31.383) rotate(90) scale(4.81389)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint9_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(31.105 35.179) rotate(90) scale(2.59209)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint10_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(74.385 33.605) rotate(90) scale(2.59209 2.59209)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint11_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(77.531 37.493) rotate(90) scale(1.85149 1.85149)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint12_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(73.596 36.798) rotate(90) scale(3.33269)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint13_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(59.432 21.802) rotate(90) scale(2.59209)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint14_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(49.204 19.394) rotate(90) scale(1.8515)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint15_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(35.826 21.756) rotate(90) scale(1.85149)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint16_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(62.581 28.235) rotate(90) scale(4.81389 4.81389)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint17_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(57.859 26.661) rotate(90) scale(4.81389)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint18_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(60.22 29.022) rotate(90) scale(4.81389 4.81389)">
                        <stop offset="0.375" stop-color="#FFF4EB" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <linearGradient id="paint19_linear_2_156" x1="60.613" y1="88.918" x2="34.574" y2="21.046"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#E0B1CC" />
                        <stop offset="0.431" stop-color="#FFF1F1" />
                        <stop offset="1" stop-color="#FFC9A5" />
                    </linearGradient>
                    <linearGradient id="paint20_linear_2_156" x1="60.613" y1="53.115" x2="84.22" y2="53.115"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#D16AE9" />
                        <stop offset="1" stop-color="#FF661D" />
                    </linearGradient>
                    <linearGradient id="paint21_linear_2_156" x1="18.921" y1="36.984" x2="75.946" y2="85.621"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF661D" />
                        <stop offset="0.5" stop-color="#CE3A00" />
                        <stop offset="1" stop-color="#A60A5E" />
                    </linearGradient>
                    <radialGradient id="paint22_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(17.728 80.772) rotate(90) scale(1.8515)">
                        <stop offset="0.375" stop-color="#F9DDD1" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint23_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(14.581 83.133) rotate(90) scale(1.8515 1.8515)">
                        <stop offset="0.375" stop-color="#F9DDD1" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint24_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(16.942 83.132) rotate(90) scale(1.8515)">
                        <stop offset="0.375" stop-color="#F9DDD1" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint25_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(20.089 84.707) rotate(90) scale(1.85149)">
                        <stop offset="0.375" stop-color="#F9DDD1" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint26_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(83.04 83.92) rotate(90) scale(1.85149)">
                        <stop offset="0.375" stop-color="#F9DDD1" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint27_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(82.646 80.4) rotate(90) scale(2.2218)">
                        <stop offset="0.375" stop-color="#F9DDD1" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint28_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(78.711 80.401) rotate(90) scale(2.2218)">
                        <stop offset="0.375" stop-color="#F9DDD1" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint29_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(75.958 79.244) rotate(90) scale(2.5921 2.5921)">
                        <stop offset="0.375" stop-color="#F9DDD1" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint30_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(19.302 82.392) rotate(90) scale(2.5921 2.5921)">
                        <stop offset="0.375" stop-color="#F9DDD1" />
                        <stop offset="1" stop-color="#FFF3EB" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint31_radial_2_156" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(77.1381 84.5904) rotate(111.038) scale(5.48002)">
                        <stop stop-color="#FDF7F2" />
                        <stop offset="1" stop-color="#FFD8BD" />
                    </radialGradient>
                    <clipPath id="clip0_2_156">
                        <rect width="96" height="96" fill="white" transform="translate(0.809998)" />
                    </clipPath>
                </defs>
            </svg>

        </div>
        <div style="margin-left: 32px;">
            <p>Любимый вами Netflix всего за 5,99 евро.</p>
            <p>Получите тарифный план "Стандарт с рекламой".</p>
            <a class="banner-container__button-link">Подробнее
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    data-mirrorinrtl="true" class="default-ltr-cache-4z3qvp e1svuwfo1" data-name="ChevronRight"
                    aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M15.5859 12L8.29303 19.2928L9.70725 20.7071L17.7072 12.7071C17.8948 12.5195 18.0001 12.2652 18.0001 12C18.0001 11.7347 17.8948 11.4804 17.7072 11.2928L9.70724 3.29285L8.29303 4.70706L15.5859 12Z"
                        fill="currentColor"></path>
                </svg>
            </a>
        </div>
    </div>
</div>