 <div class="main-content">
    <div class="main-content_container">
        <div class="main-content_container__block">
            <h2 style="font-size: 48px;">{{Title}}</h2>
            <p>{{Description}}</p>
        </div>
        <div class="col">
            <div class="content-block">
                {{{content}}}
            </div>
        </div>
    </div>
</div>