@import url(register.css);


content-main-1-form-reg {
    max-width: 440px;
    margin-left: calc((-500px + 100%)/2);
    margin-top: 25px;
}

content-fragment>h1 {
    margin-top: 0;
    text-align: left;
}

.step-indicator {
    text-align: left;
}

