
<div class="body-margin-login-page"></div>
<div class="login-content">
    <div class="login-form-main">
        <h1 class="login-form-main-title">Авторизация</h1>
        <a href="#" onclick="window.link()">test</a>
        <form name="loginForm" action="post">
            <div class="login-control-container">
                <input
                    type="email"
                    name="email"
                    placeholder="Введите email"
                    class="login-control">
            </div>
            <div class="login-control-container">
                <input type="password"
                    name="password"
                    placeholder="Введите пароль"
                    class="login-control">
            </div>
            <button type="submit" class="btn-signIn  w-100 btn-login">Войти</button>
            <div class="login-form-footer">
                <input type="checkbox"
                    class="custom-checkbox" name
                    id="checkLog">
                <label class="login-checkbox-label"
                    for="checkLog">Запомнить это устройство</label>
            </div>
            <div class="login-footer-other">
                <span>Недавно на Netflix? <a href>Зарегестрируйтесь</a></span>
            </div>
        </form>
    </div>
</div>
