<div class="feed-page__preview-container">
    <video autoplay playsinline muted loop class="feed-page__preview">
        <source src="{{webm-url}}" type="video/webm" />
    </video>
    <div class="feed-content__info">
        <div class="feed-content__info-sticky">
            <h1>
                {{title}}
            </h1>
            <p>
                {{description}}
            </p>
            <div class="feed-page__content-actions">
                {{> partial/button/btn-action label="Смотреть" kind="play"}}
            </div>
        </div>
    </div>
</div>
