<div class="feed-collection__container-offset">
    <a class="feed-collection__title" href="/genre/{{id}}" spa-link>{{title}}</a>
</div>
<div class="feed-collection__carousel" id="{{carousel}}">
    <div class="feed-collection__container" id="{{container}}">
        {{#each content}}
        {{> partial/preview-card baseUrl="movies" this=this}}
        {{/each}}
    </div>
</div>