.feed-collection__container-offset {
    margin-top: 2rem;
}

#feed-collections {
    margin-bottom: 125px;
}

.feed-collection__carousel {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
}

.collection {
    padding-top: 3rem;
}

.feed-collection__title {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-left: 2rem;
    transition: all .3s;
}

.feed-collection__container {
    max-width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 90px;
    padding-top: 30px;
    gap: 20px;
    padding-left: 20px;
    transition: transform .3s linear;
}

.feed-collection__container-card {
    min-height: 350px;
    transition: all .3s linear;
    margin-left: 16px;
    margin-right: 16px;
}

.feed-collection__container-card__video {
    object-fit: none;
    border-radius: 1rem;
    transition: all .3s;
    background: #d53032;
}

@media screen and (max-width: 900px) {
    .feed-collection__container-card__video {
        max-width: 300px;
    }
}

.feed-collection__container-card:hover {
    transform: scale(1.1);
    transform-origin: center center;
    transition: all .3s linear;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.feed-collection__advanced-info {
    display: flex;
    flex-direction: row;
    max-width: 270px;
    align-items: center;
    justify-content: center;
    width: 270px;
}

.feed-collection__advanced-info__link {
    color: #fff;
    font-family: Netflix;
    font-size: 1rem;
    font-weight: 700;
    /* position: absolute; */
    text-align: center;
    text-decoration: none;
    top: 300px;
    width: 100%;
}


.feed-collection__advanced-info__rating {
    cursor: default;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    margin: 10px;
    width: 24px;
    height: 24px;
    padding: 3px;
    text-align: center;

}

/* Добавьте стили для разных рейтингов с использованием классов в JavaScript */
.rating-high {
    background: green;
}

.rating-medium {
    background: orange;
}

.rating-low {
    background: red;
}