@media screen and (min-width: 1280px) {
    .header-content-reg {
        max-width: calc(100% - 4rem);
    }
}

@font-face {
    font-family: Netflix Sans;
    src: url(../../../../static/fonts/NetflixSansRegular.ttf);
}

header-reg{
    width: 100%;
    position: static;
}
.header-content-reg {
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
}
