{{> partial/header/partial-header kind="feed-page" feedPage=true}}


<div class="content-container">

    <h1 class="content-container__title">{{film.name}}</h1>

    <p class="content-container__advanced-info__description" id="episodeName"></p>
    <div>
        <select id="season">

        </select>
        <select id="episode">
        </select>
    </div>
    <video controls controlslist="nodownload noremoteplayback" class="content-container__player">
        <source type="video/mp4" />
    </video>
    <div class="content-container__player__actions">
        <div class="episodeLabel" style="text-align: end;" id="prevEpisode"></div>
        {{>partial/button/btn-action id="prev-button" kind="prev"}}
        {{>partial/button/btn-action id="next-button" kind="next"}}
        <div class="episodeLabel" id="nextEpisode"></div>
    </div>
    <div class="content-container__advanced-info">
        <div class="content__like">Добавить в избранное <button class="heart-button"><i class="like"></i></button></div>
        <div class="content-container__advanced-info__meta">
            <div class="content-container__advanced-info__meta-year"><b>Год
                    выхода:</b>
                {{film.releaseYear}}</div>
            <div class="content-container__advanced-info__meta-age"><b>Возрастное
                    ограничение:</b> {{film.ageRestriction}}+</div>

            <div class="content-container__advanced-info__meta-time"><b>Длительность:</b>
                <span id="duration"></span>
            </div>
            {{> partial/rating/rating}}
        </div>
        <div class="serial-content-container__advanced-info__about">
            <div class="content-container__advanced-info__description" id="serialDescription">
            </div>

            <div class="content-container__advanced-info__genres-title">
                <b>Актеры</b>
            </div>
            <div class="serial-content-container__advanced-info__cast">
                <div class="serial-content-container__advanced-info__cast-list">
                    {{#each artists}}
                    {{> partial/cast-card baseUrl="serial-cast" this=this}}
                    {{/each}}
                </div>
            </div>

        </div>

        <div id="seasons-carousel" class="serial-content-container__advanced-info__seasons">
        </div>

    </div>
</div>

<dialog id="subs" style="    padding: 2rem!important; color: WHITE;
    TEXT-ALIGN: center;">
    <h2>Для просмотра получите подписку</h2>
    {{> partial/button/btn-link href="/profile" kind="primary-xl"
    label="Перейти к профилю"}}
</dialog>

{{> partial/footer/partial-footer}}