{{> partial/header/partial-header kind="feed-page" feedPage=true}}

{{> partial/trailer-preview
id=id
webm-url=preview.previewVideoPath
title=preview.name
description=preview.description
}}

<div id="feed-collections"></div>

{{> partial/footer/partial-footer}}