<div class="serial-feed-collection__container-card" title="{{this.name}}">
    <video height="150" class="feed-collection__container-card__video" poster="{{this.previewPath}}" playsinline muted preload="metadata">
        <source src="" type='video/mp4'>
    </video>
    <div class="feed-collection__advanced-info">
        <a href="#" class="feed-collection__advanced-info__link" id="{{this.id}}" episode>
            {{this.name}}
        </a>
    </div>
</div>