{{> partial/header/partial-header feedPage=true kind="feed-page"}}

<div class="glow-title">{{title}}</div>
<div class="genre-container">
    {{#each content}}
   {{> partial/preview-card baseUrl="serial" this=this}}
    {{/each}}
</div>

{{> partial/footer/partial-footer}}