@font-face {
    font-family: 'heart-netflix';
    src: url('heart.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.like:before {
    font-family: 'heart-netflix';
    content: "\e900";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.empty-like:before {
    font-family: 'heart-netflix';
    content: "\e902";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.dislike:before {
    font-family: 'heart-netflix';
    content: "\e901";
    font-size:  1.2rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}