.avatar {
    color: #333;
    direction: ltr;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    line-height: 70px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    width: 50px;
    /* Задайте нужную ширину */
    height: 50px;
    /* Задайте нужную высоту */
    object-fit: cover;
    animation: show 0.5s ease-in-out;
}

.avatar-preview {
    color: #333;
    direction: ltr;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    line-height: 70px;
    cursor: default;
    font-size: 12px;
    font-weight: 500;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    width: 200px;
    object-fit: cover;
    height: 200px;
}