.register-form {
    background: rgba(0, 0, 0, .75);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Netflix;
    font-size: 16px;
    gap: 10px;
    letter-spacing: 0;
    margin: auto;
    max-width: 440px;
    padding: 3rem;
}

.register-form label {
    font-weight: bold;
    margin-top: 0.5rem;
    display: block;
}

.register-form__title {
    margin-top: 0;

}

.register-form__step {
    font-weight: bold;
}

.register-form__description {
    font-weight: bold;
}