<form name="createPassword" method="post" class="register-form">

    <h1 class="register-form__title">
        Заполните форму, чтобы присоединиться к EyeScreen
    </h1>

    <label for="email">Почта</label>
    {{> partial/input-control/input-control default=true kind="register-page" placeholder="Введите почту"
    name="email" type="email" id="email"}}

    <label for="password">Пароль</label>
    {{> partial/input-control/input-control default=true kind="register-page" placeholder="Введите пароль"
    name="password"
    id="password"
    type="password" }}

    <div class="mt-5"></div>
    {{> partial/button/button type="submit" kind="primary-xl" label="Далее"}}

</form>
