.register-form {
    background: rgba(0, 0, 0, .75);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Netflix;
    font-size: 16px;
    gap: 10px;
    letter-spacing: 0;
    margin: auto auto 5rem;
    min-height: 450px;
    max-width: 440px;
    padding: 3rem;
}

.register-form label {
    font-weight: bold;
    margin-top: 0.5rem;
    display: block;
}

.register-form__title {
    margin-top: 0;

}

.register-form__step {
    font-weight: bold;
}

.register-form__description {
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .register-form__title {
        font-size: 1.5rem;
    }
}