<div class="login-page__login-content">
    <div class="login-page__form">
        <span class="start-register__form-logo"></span>
    </div>
    <div>
        <h1 class="start-register__form-title">
            Завершите настройку своего аккаунта
        </h1>
    </div>

    <div class="start-register__form-description">
        Netflix создан специально для вас. Создайте пароль, чтобы начать
        просмотр Netflix.
    </div>

    {{> partial/button/btn-link href="/register" kind="primary-xl"
    label="Далее"}}
</div>