.start-register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 16px;
    max-width: 340px;
    margin: auto auto 5rem;
    min-height: 450px;
    letter-spacing: 0;
    background: rgba(0, 0, 0, .75);
    padding: 3rem;
}

@media screen and (min-width: 1980px) {
    .start-register__form, .register-form {
       transform: scale(1.5);
    }
}

@media screen and (min-width: 2560px) {
    .start-register__form, .register-form {
       transform: scale(2);
    }
}

@media screen and (min-width: 3440px) {
    .start-register__form, .register-form {
       transform: scale(3);
    }
}

.start-register__form-logo-container {
    display: inline-block;
}

.start-register__form-logo {
    margin: 50px 0 20px;
    width: 260px;
    display: block;
    background: url(../../../static/img/devices.webp) no-repeat 50% 50%;
    background-size: 260px;
    height: 90px;
}

.start-register__form-title {
    margin-top: 0;
    text-align: center;
}

.start-register__form-description {
    text-align: center;
}