<div class="start-register__form">
    <div class="start-register__form-logo-container">
        <span class="start-register__form-logo"></span>
    </div>
    <div>
        <h1 class="start-register__form-title">
            Начинаем регистрацию
        </h1>
    </div>

    <div class="start-register__form-description">
        EyeScreen создан специально для вас.
    </div>

    {{> partial/button/btn-link href="/register" kind="primary-xl"
    label="Далее"}}
</div>