<form name="finishReg">
    <content-main-1-form-reg class="reg-form">
        <div class="step-logo-container">
            <span class="step-logo"></span>
        </div>
    </content-main-1-form-reg>
</form>