{{> partial-header feedPage=true}}

{{> feed-preview
webm-url="static/wednesday.webm"
title="Wednesday"
description="Уэнсдэй, дочь Гомеса и Мортиши Аддамс, учится в академии Nevermore. Ей предстоит освоить экстрасенсорные способности, чтобы остановить местного серийного убийцу и раскрыть тайну родителей."
}}

<div id="collections"></div>

{{> partial-footer}}