{{> partial-header kind="feed-page" feedPage=true}}

{{> feed-preview
id=id
webm-url=preview.previewVideoPath
title=preview.name
description=preview.description
}}

<div id="feed-collections"></div>

{{> partial-footer}}