.login-page__login-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh);
    transform: scale(1.5) translateY(-42px);
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

@media screen and (max-width: 900px) {
    .login-page__login-background {
        transform: none;
    }

    .register-form {
        transform: scale(.7);
    }
}