.login-page__login-content {
    margin: auto;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #333;
    background: rgba(0, 0, 0, .75);
    max-width: 450px;
    height: 536px;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 5rem;
}

@media screen and (min-width: 1980px) {
    .login-page__login-content {
       transform: scale(1.5);
    }
}

@media screen and (min-width: 2560px) {
    .login-page__login-content {
       transform: scale(2);
    }
}

@media screen and (min-width: 3440px) {
    .login-page__login-content {
       transform: scale(3);
    }
}


.login-page__form {
    color: #fff;
    padding: 60px 68px 40px;
    font-family: 'Netflix';
}

.login-page__form-title {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

.login-page__form-action {
    color: #737373;
    margin-top: 1.5rem;
}

.login-page__form-action-link {
    color: #fff;
}