<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="img/icon.png" class="toast__img">
        <strong class="toast-header__title">EyeScreen</strong>
        <small>{{timeAgo}}</small>
        <button class="toast__btn_close" onclick="document.getElementById('toasts').innerHTML = '';">
            <i class="netflix" kind="close"></i>
        </button>
    </div>
    <div class="toast-body">
        {{message}}
    </div>
</div>