.d-flex {
    display: flex ;
}

.justify-content-start {
  justify-content: flex-start ;
}

.justify-content-end {
  justify-content: flex-end ;
}

.justify-content-center {
  justify-content: center ;
}

.justify-content-between {
  justify-content: space-between ;
}

.justify-content-around {
  justify-content: space-around ;
}

.justify-content-evenly {
  justify-content: space-evenly ;
}

.align-items-start {
  align-items: flex-start ;
}

.align-items-end {
  align-items: flex-end ;
}

.align-items-center {
  align-items: center ;
}

.align-items-baseline {
  align-items: baseline ;
}

.align-items-stretch {
  align-items: stretch ;
}

.align-content-start {
  align-content: flex-start ;
}

.align-content-end {
  align-content: flex-end ;
}

.align-content-center {
  align-content: center ;
}

.align-content-between {
  align-content: space-between ;
}

.align-content-around {
  align-content: space-around ;
}

.align-content-stretch {
  align-content: stretch ;
}

.align-self-auto {
  align-self: auto ;
}

.align-self-start {
  align-self: flex-start ;
}

.align-self-end {
  align-self: flex-end ;
}

.align-self-center {
  align-self: center ;
}

.align-self-baseline {
  align-self: baseline ;
}

.align-self-stretch {
  align-self: stretch ;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.m-0 {
  margin: 0 ;
}

.m-1 {
  margin: 0.25rem ;
}

.m-2 {
  margin: 0.5rem ;
}

.m-3 {
  margin: 1rem ;
}

.m-4 {
  margin: 1.5rem ;
}

.m-5 {
  margin: 3rem ;
}

.m-auto {
  margin: auto ;
}

.mx-0 {
  margin-right: 0 ;
  margin-left: 0 ;
}

.mx-1 {
  margin-right: 0.25rem ;
  margin-left: 0.25rem ;
}

.mx-2 {
  margin-right: 0.5rem ;
  margin-left: 0.5rem ;
}

.mx-3 {
  margin-right: 1rem ;
  margin-left: 1rem ;
}

.mx-4 {
  margin-right: 1.5rem ;
  margin-left: 1.5rem ;
}

.mx-5 {
  margin-right: 3rem ;
  margin-left: 3rem ;
}

.mx-auto {
  margin-right: auto ;
  margin-left: auto ;
}

.my-0 {
  margin-top: 0 ;
  margin-bottom: 0 ;
}

.my-1 {
  margin-top: 0.25rem ;
  margin-bottom: 0.25rem ;
}

.my-2 {
  margin-top: 0.5rem ;
  margin-bottom: 0.5rem ;
}

.my-3 {
  margin-top: 1rem ;
  margin-bottom: 1rem ;
}

.my-4 {
  margin-top: 1.5rem ;
  margin-bottom: 1.5rem ;
}

.my-5 {
  margin-top: 3rem ;
  margin-bottom: 3rem ;
}

.my-auto {
  margin-top: auto ;
  margin-bottom: auto ;
}

.mt-0 {
  margin-top: 0 ;
}

.mt-1 {
  margin-top: 0.25rem ;
}

.mt-2 {
  margin-top: 0.5rem ;
}

.mt-3 {
  margin-top: 1rem ;
}

.mt-4 {
  margin-top: 1.5rem ;
}

.mt-5 {
  margin-top: 3rem ;
}

.mt-auto {
  margin-top: auto ;
}

.me-0 {
  margin-right: 0 ;
}

.me-1 {
  margin-right: 0.25rem ;
}

.me-2 {
  margin-right: 0.5rem ;
}

.me-3 {
  margin-right: 1rem ;
}

.me-4 {
  margin-right: 1.5rem ;
}

.me-5 {
  margin-right: 3rem ;
}

.me-auto {
  margin-right: auto ;
}

.mb-0 {
  margin-bottom: 0 ;
}

.mb-1 {
  margin-bottom: 0.25rem ;
}

.mb-2 {
  margin-bottom: 0.5rem ;
}

.mb-3 {
  margin-bottom: 1rem ;
}

.mb-4 {
  margin-bottom: 1.5rem ;
}

.mb-5 {
  margin-bottom: 3rem ;
}

.mb-auto {
  margin-bottom: auto ;
}

.ms-0 {
  margin-left: 0 ;
}

.ms-1 {
  margin-left: 0.25rem ;
}

.ms-2 {
  margin-left: 0.5rem ;
}

.ms-3 {
  margin-left: 1rem ;
}

.ms-4 {
  margin-left: 1.5rem ;
}

.ms-5 {
  margin-left: 3rem ;
}

.ms-auto {
  margin-left: auto ;
}

.p-0 {
  padding: 0 ;
}

.p-1 {
  padding: 0.25rem ;
}

.p-2 {
  padding: 0.5rem ;
}

.p-3 {
  padding: 1rem ;
}

.p-4 {
  padding: 1.5rem ;
}

.p-5 {
  padding: 3rem ;
}

.px-0 {
  padding-right: 0 ;
  padding-left: 0 ;
}

.px-1 {
  padding-right: 0.25rem ;
  padding-left: 0.25rem ;
}

.px-2 {
  padding-right: 0.5rem ;
  padding-left: 0.5rem ;
}

.px-3 {
  padding-right: 1rem ;
  padding-left: 1rem ;
}

.px-4 {
  padding-right: 1.5rem ;
  padding-left: 1.5rem ;
}

.px-5 {
  padding-right: 3rem ;
  padding-left: 3rem ;
}

.py-0 {
  padding-top: 0 ;
  padding-bottom: 0 ;
}

.py-1 {
  padding-top: 0.25rem ;
  padding-bottom: 0.25rem ;
}

.py-2 {
  padding-top: 0.5rem ;
  padding-bottom: 0.5rem ;
}

.py-3 {
  padding-top: 1rem ;
  padding-bottom: 1rem ;
}

.py-4 {
  padding-top: 1.5rem ;
  padding-bottom: 1.5rem ;
}

.py-5 {
  padding-top: 3rem ;
  padding-bottom: 3rem ;
}

.pt-0 {
  padding-top: 0 ;
}

.pt-1 {
  padding-top: 0.25rem ;
}

.pt-2 {
  padding-top: 0.5rem ;
}

.pt-3 {
  padding-top: 1rem ;
}

.pt-4 {
  padding-top: 1.5rem ;
}

.pt-5 {
  padding-top: 3rem ;
}

.pe-0 {
  padding-right: 0 ;
}

.pe-1 {
  padding-right: 0.25rem ;
}

.pe-2 {
  padding-right: 0.5rem ;
}

.pe-3 {
  padding-right: 1rem ;
}

.pe-4 {
  padding-right: 1.5rem ;
}

.pe-5 {
  padding-right: 3rem ;
}

.pb-0 {
  padding-bottom: 0 ;
}

.pb-1 {
  padding-bottom: 0.25rem ;
}

.pb-2 {
  padding-bottom: 0.5rem ;
}

.pb-3 {
  padding-bottom: 1rem ;
}

.pb-4 {
  padding-bottom: 1.5rem ;
}

.pb-5 {
  padding-bottom: 3rem ;
}

.ps-0 {
  padding-left: 0 ;
}

.ps-1 {
  padding-left: 0.25rem ;
}

.ps-2 {
  padding-left: 0.5rem ;
}

.ps-3 {
  padding-left: 1rem ;
}

.ps-4 {
  padding-left: 1.5rem ;
}

.ps-5 {
  padding-left: 3rem ;
}

.w-25 {
  width: 25% ;
}

.w-50 {
  width: 50% ;
}

.w-75 {
  width: 75% ;
}

.w-100 {
  width: 100% ;
}

.h-25 {
  height: 25% ;
}

.h-50 {
  height: 50% ;
}

.h-75 {
  height: 75% ;
}

.h-100 {
  height: 100% ;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
:root {
    --primary: rgb(229, 9, 20);
    --primary-hover: rgb(193, 17, 25);

    --dark: #333;
    --dark-hover: #33333386;
}

.t-white {
    color: white;
}

.t-dark {
    color: var(--dark);
}

.t-dark:hover {
    color: var(--dark-hover);
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(229, 9, 20);
    border-radius: 10px;
}
.avatar {
    color: #333;
    direction: ltr;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    line-height: 70px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    width: 32px;
}
.partial-btn {
    padding: 0.25rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    min-height: 2rem;
    width: auto;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    text-decoration: none;
}

button.partial-btn[kind="primary-xl"] {
    background-color: var(--primary);
    color: white;
    font-size: 24px;
    margin-top: 24px;
    min-height: 64px;
    min-width: 110px;
    padding: 20.5px 2em;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: normal;
    border: 0;
    cursor: pointer;
}

.partial-btn[kind="primary-xl"] {
    background-color: var(--primary);
    color: white;
    font-size: 24px;
    margin-top: 24px;
    min-height: 64px;
    min-width: 110px;
    padding: 20.5px 2em;
    width: 100%;
    box-sizing: border-box;
}

.partial-btn[kind="primary-xl"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: var(--primary-hover);
}

.partial-btn[kind="login"] {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    margin: 24px 0 12px;
    background-color: var(--primary);
    color: white;
    appearance: none;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: normal;
    border: 0;
    cursor: pointer;
}

.partial-btn[kind="login"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: var(--primary-hover);
}

.partial-btn[kind="primary-button"] {
    background-color: var(--primary);
    color: white;
    appearance: none;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: normal;
    border: 0;
    cursor: pointer;
}

.partial-btn[kind="primary"] {
    background-color: var(--primary);
    color: white;
}

.partial-btn[kind="primary"]:hover,
.partial-btn[kind="primary-button"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: var(--primary-hover);
}


.partial-btn[kind="secondary"] {
    background-color: none;
    color: var(--dark);
    font-size: 19px;
}

.partial-btn[kind="secondary"]:hover {
    color: var(--dark-hover);
}

.btn-action {
    padding: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    min-height: 2rem;
    width: auto;
    gap: 10px;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    text-decoration: none;
}

.btn-action[kind="play"] {
    background: white;
    color: black;
}

.btn-action[kind="play-card"] {
    background: white;
    color: black;
    padding: 7px;
    min-height: 1rem;
    font-size: 0.5rem;
}

.btn-action[kind="info"] {
    background: rgba(255, 255, 255, 0.20);
    color: white;
}

.btn-action[kind="play"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: rgba(255, 255, 255, 0.8);
    color: black;
}


.btn-action[kind="info"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: rgba(255, 255, 255, 0.4);
    color: white;
}
@font-face {
    font-family: NetflixLight;
    src: url(cde797b7181b90930d0f.ttf);
}

.footer {
    margin-top: auto;
    border-top: 8px solid #454545;

}

.footer[kind="reg-page"] {
    border-top: 1px solid #e6e6e6;
}

.footer[kind="reg-page-main"] {
    border-top: 1px solid #e6e6e6;
}

.footer__container {
    width: 100%;
    max-width: 1000px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.footer__fonts {
    font-family: NetflixLight;
    font-size: 14px;
    font-weight: 100;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 0;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.footer__row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-top: 0;
}

.footer__element {
    flex: 1 0 0%;
}

.footer__element[kind="reg-page"]>a>img,
.footer__element[kind="reg-page-main"]>a>img {
    opacity: 0.3;
}

.footer__element-text {
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    display: block;
}

.footer__element-text[kind="reg-page"],
.footer__element-text[kind="reg-page-main"] {
    color: #737373;
}

.footer__element-logo {
    display: flex;
    align-items: center;
}

.footer__element-border {
    border-right: 2px solid #454545;
}

.footer__element-border[kind="reg-page"],
.footer__element-border[kind="reg-page-main"] {
    border-right: 2px solid #c5c3c3;
}
.header-content {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    z-index: 1;
    transition: max-width 0.5s, min-width 0.5s, padding 0.5s;
}

.header-content[kind="main-page"],
.header-content[kind="login-page"] {
    width: 100%;
    display: flex;
}

.header-content[kind="feed-page"] {
    margin: 0;
}


@media screen and (min-width: 1920px) {
    .header-content {
        max-width: calc(66.66666666666666% - 6rem);
    }
}

@media screen and (min-width: 1280px) {
    .header-content {
        max-width: calc(100% - 4rem);
    }
}

@media screen and (min-width: 960px) {
    .header-content {
        max-width: calc(100% - 4rem);
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 959px) {
    .header-content {
        max-width: calc(100% - 4rem);
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.feed-header-menu>a {
    font-family: Netflix;
    color: #fff;
    text-decoration: none;
}

.feed-header-menu>a:hover {
    color: gainsboro;
    text-decoration: underline;
}

.margin-a>a {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

nav .drop-down {
    list-style: none;
    overflow: hidden;
    height: 200px;
    font-family: Netflix;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

nav .drop-down.closed {
    height: 66px;

}

nav .drop-down li {
    background:rgba(0, 0, 0, 0.15)
}

.drop-down__li:hover {
    background: rgba(0, 0, 0, 0.25);
}

nav .drop-down li[kind="profile-page"] {
    background: rgba(255, 255, 255);
}

nav .drop-down li[kind="profile-page"]:hover {
    background: rgba(228, 227, 227, 0.25);
}

nav .drop-down li[kind="profile-page"] a {
    display: block;
    font-size: 14px;
    color: #454545;
    text-decoration: none;
    padding: 12px;
}

nav .drop-down li a {
    display: block;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 12px;
}

nav .drop-down li a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.input-control {
    background: #FFFFFF;
    border: 1px solid #8c8c8c;
    border-radius: 0.25rem;
    line-height: normal;
    padding: 0.5rem 0.5rem 0.5rem;
    color: #000;
    font-family: Netflix Sans;
    font: inherit;
    width: 100%;
    min-width: 12.5rem;
    font-size: 16px;
    font-weight: 100;
}

.input-control[kind="login-page"] {
    margin-bottom: 16px;
    background: #333;
    border: 0;
    font-family: Netflix;
    max-width: -webkit-fill-available;
    color: #8c8c8c;
    height: 34px;
    line-height: normal;
}

.input-control[kind="register-page"] {
    width: 422px;
    height: 42px;



}

.input-control__file {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 442px;
}

.input-control__file .partial-btn {
    margin-top: 0;
    min-width: 0;
    min-height: 0;
    padding: 10px;
    max-width: 60px;
}

.input-control__file .input-control[type=file] {
    display: none;
}

.input-control__file-text {
    font-family: Netflix;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
}


.login-page__login-background {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transform: scale(1.25) translateY(-10%);
    opacity: 0.5;
    background-image: url(945dbe3189ab53df5dbd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.login-page__login-content {
    margin-left: calc((100% - 450px)/2);
    margin-right: calc((100% - 450px)/2);
    margin-top: 30px;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #333;
    background: rgba(0, 0, 0, .75);
    max-width: 450px;
    min-height: 550px;
    border-radius: 4px;
}

.login-page__form {
    color: #fff;
    padding: 60px 68px 40px;
    font-family: 'Netflix';
}

.login-page__form-title {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

.login-page__form-action {
    color: #737373;
    margin-top: 1.5rem;
}

.login-page__form-action-link {
    color: #fff;
}
.login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-page__container {
    width: 100vw;
    position: absolute;
    flex-direction: column;
    display: flex;
}
.feed-page__preview {
    width: 100%;
}

.feed-content__info {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 50px;
    margin-bottom: 10%;
    padding: 3rem;
    border-radius: 0.25rem;
    background: linear-gradient(336deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2) 50%);
}

.feed-content__info>p {
    line-height: 1.6;
    font-family: NetflixLight;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.feed-page__content-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: auto;
}

.feed-page__preview-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.feed-collection__container-offset {
    margin-top: 2rem;
}

.feed-collection__carousel {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
}

.collection{
    padding-top: 3rem;
}
.feed-collection__title {
    color: white;
    margin-left: 2rem;
}

.feed-collection__container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 60px;
    gap: 20px;
    padding-left: 20px;
    transition: transform 0.2s linear;
}

.feed-collection__container-card {
    min-height: 350px;
}

.feed-collection__container-card:hover {
    margin-left: 16px;
    margin-right: 16px;
    transform: scale(1.1);
    transform-origin: center center;
    transition: all .2s linear;
}

.feed-collection__container-card>div>img {
    overflow: hidden;
    max-height: 350px;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.feed-collection__advanced-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #454545;
    border-radius: 0.25rem;
    align-items: center;
    height: 40px;
    width: -webkit-fill-available;
    padding: 10px;
    position: absolute;
    margin-top: -50px;
    opacity: 0;
}

.feed-collection__container-card:hover div .feed-collection__advanced-info {
    opacity: 1;
    animation: show .2s linear;
}

.feed-collection__advanced-info__name {
    color: white;
}

.feed-collection__advanced-info__rating {
    font-weight: bold;
    /* По умолчанию, сделаем жирный текст */

    /* Задаем стили в зависимости от значения рейтинга */
}

.feed-collection__advanced-info__rating {
    font-weight: bold;
    /* По умолчанию, сделаем жирный текст */
}

/* Добавьте стили для разных рейтингов с использованием классов в JavaScript */
.rating-high {
    color: green;
}

.rating-medium {
    color: orange;
}

.rating-low {
    color: red;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#toasts {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: end;
    align-items: end;
}

.toast-header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: rgba(33, 37, 41, 0.75);
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
    border-top-left-radius: calc(0.375rem - 1px);
    border-top-right-radius: calc(0.375rem - 1px);
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: black;
    border: 0;
    border-radius: 0.375rem;
    opacity: 1;
}

.toast__img {
    height: 32px;
}

.toast {
    width: 350px;
    max-width: 100%;
    font-size: 0.875rem;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solidrgba(0, 0, 0, 0.175);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.375rem;
    animation: show 0.5s ease-in-out;
}

.toast-body {
    padding: 0.75rem;
    word-wrap: break-word;
}
.start-register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
    font-size: 16px;
    max-width: 340px;
    margin-left: calc((-400px + 100%)/2);
    margin-bottom: 30px;
    letter-spacing: 0;
    padding: 20px 32px 60px;
}

.start-register__form-logo-container {
    display: inline-block;
}

.start-register__form-logo {
    margin: 100px 0 20px;
    width: 260px;
    display: block;
    background: url(e34300b873e29d348479.webp) no-repeat 50% 50%;
    background-size: 260px;
    height: 90px;
}

.start-register__form-title {
    margin-top: 0;
    text-align: center;
}

.start-register__form-description {
    text-align: center;
}
.register-form {
    max-width: 440px;
    margin-left: calc((-500px + 100%)/2);
    margin-top: 25px;
    color: #333333;
    font-size: 16px;
    font-family: Netflix;
    margin-bottom: 30px;
    letter-spacing: 0;
    padding: 20px 32px 60px;
}

.register-form label {
    font-weight: bold;
    margin-top: 0.5rem;
    display: block;
}

.register-form__title {
    margin-top: 0;

}

.register-form__step {
    font-weight: bold;
}

.register-form__description {
    font-weight: bold;
}
::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.main-form {
    max-height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-form__input {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 60px;
}

.main-form__description,
.main-form__email-form{
    margin: 0;
}

.main-form__email-form__container{
    padding-left: 2rem;
    padding-right: 2rem;
}
.banner-container {
    display: flex;
    min-height: 144px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 74px;
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
}

.banner-container__button-link {
    cursor: pointer;
    color: #448ef4;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-family: Netflix;
    font-size: 16px;
    background: none;
    border: none;
    text-decoration: underline;
    padding: 0;
}

.main__background {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transform: scale(1.25) translateY(-10%);
    background-image: url(945dbe3189ab53df5dbd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.main__background-shadow {
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}
.main-content {
    display: flex;
    justify-content: center;
    border-top: 8px solid #454545;
    min-height: auto;
    padding: 4.5rem 0;
}

.main-content__video-container {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imac {
    max-width: 63%;
    max-height: 47%;
    top: 34%;
    left: 50%;
}

.main-content__video-container video {
    display: inline-block;
    vertical-align: baseline;
}


.phone-background-content {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 15rem;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    width: 50%;
}

.phone-background-content__col-poster {
    font-family: Netfli;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0;
    margin: 0 1rem 0 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.phone-background-content__col-text {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0;
    text-align: left;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3rem 0;
}

.phone-background-content__title {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    text-align: left;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
}

.phone-background-content__subtitle {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    text-align: left;
    letter-spacing: 0;
    font-weight: 400;
    color: #0071eb;
    font-size: 0.875rem;
}

.phone-background-content__col-spinner {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0;
    width: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
    background: url(1ce72c891b52e6f68f2f.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3.75rem;
}

.phone-background-content__image {
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0;
    border: 0;
    height: 5rem;
}
.main {
    margin: 0;
    padding: 0;
    font-family: Netflix;
    color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


.page404__container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    margin: 0px;
    background: radial-gradient(circle, #240015 0%, #12000b 100%);
    overflow: hidden;
}

.page404__title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    font-size: 32px;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    display: block;
    color: #12000a;
    font-weight: 600;
    text-shadow: 0px 0px 4px #12000a;
    animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
}

#svgWrap {
    position: absolute;
    height: auto;
    width: 600px;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#svgWrap,
.page404__container {
    animation: hueRotate 6s ease-in-out 3s infinite;
}

#digitThird,
#digitSecond,
#digitFirst {
    stroke: #ff005d;
    stroke-width: 3px;
    fill: transparent;
    filter: url(#glow);
}

#digitThird,
#digitSecond,
#digitFirst {
    stroke: #12000a;
    stroke-width: 3px;
    fill: transparent;
    filter: url(#glow);
}

#digitFirst {
    stroke-dasharray: 940px;
    stroke-dashoffset: -940px;
    animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
}

#digitSecond{
    stroke-dasharray: 735px;
    stroke-dashoffset: -735px;
    animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
}

#digitThird {
    stroke-dasharray: 940px;
    stroke-dashoffset: -940px;
    animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
}

@keyframes drawLine1 {
    0% {
        stroke-dashoffset: -940px;
    }

    100% {
        stroke-dashoffset: 0px;
    }
}

@keyframes drawLine2 {
    0% {
        stroke-dashoffset: -735px;
    }

    100% {
        stroke-dashoffset: 0px;
    }
}

@keyframes drawLine3 {
    0% {
        stroke-dashoffset: -940px;
    }

    100% {
        stroke-dashoffset: 0px;
    }
}

@keyframes flicker1 {
    0% {
        stroke: #ff005d;
    }

    1% {
        stroke: transparent;
    }

    3% {
        stroke: transparent;
    }

    4% {
        stroke: #ff005d;
    }

    6% {
        stroke: #ff005d;
    }

    7% {
        stroke: transparent;
    }

    13% {
        stroke: transparent;
    }

    14% {
        stroke: #ff005d;
    }

    100% {
        stroke: #ff005d;
    }
}

@keyframes flicker2 {
    0% {
        stroke: #ff005d;
    }

    50% {
        stroke: #ff005d;
    }

    51% {
        stroke: transparent;
    }

    61% {
        stroke: transparent;
    }

    62% {
        stroke: #ff005d;
    }

    100% {
        stroke: #ff005d;
    }
}

@keyframes flicker3 {
    0% {
        stroke: #ff005d;
    }

    1% {
        stroke: transparent;
    }

    10% {
        stroke: transparent;
    }

    11% {
        stroke: #ff005d;
    }

    40% {
        stroke: #ff005d;
    }

    41% {
        stroke: transparent;
    }

    45% {
        stroke: transparent;
    }

    46% {
        stroke: #ff005d;
    }

    100% {
        stroke: #ff005d;
    }
}

@keyframes flicker4 {
    0% {
        color: #ff005d;
        text-shadow: 0px 0px 4px #ff005d;
    }

    30% {
        color: #ff005d;
        text-shadow: 0px 0px 4px #ff005d;
    }

    31% {
        color: #12000a;
        text-shadow: 0px 0px 4px #12000a;
    }

    32% {
        color: #ff005d;
        text-shadow: 0px 0px 4px #ff005d;
    }

    36% {
        color: #ff005d;
        text-shadow: 0px 0px 4px #ff005d;
    }

    37% {
        color: #12000a;
        text-shadow: 0px 0px 4px #12000a;
    }

    41% {
        color: #12000a;
        text-shadow: 0px 0px 4px #12000a;
    }

    42% {
        color: #ff005d;
        text-shadow: 0px 0px 4px #ff005d;
    }

    85% {
        color: #ff005d;
        text-shadow: 0px 0px 4px #ff005d;
    }

    86% {
        color: #12000a;
        text-shadow: 0px 0px 4px #12000a;
    }

    95% {
        color: #12000a;
        text-shadow: 0px 0px 4px #12000a;
    }

    96% {
        color: #ff005d;
        text-shadow: 0px 0px 4px #ff005d;
    }

    100% {
        color: #ff005d;
        text-shadow: 0px 0px 4px #ff005d;
    }
}

@keyframes fadeInText {
    1% {
        color: #12000a;
        text-shadow: 0px 0px 4px #12000a;
    }

    70% {
        color: #ff005d;
        text-shadow: 0px 0px 14px #ff005d;
    }

    100% {
        color: #ff005d;
        text-shadow: 0px 0px 4px #ff005d;
    }
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(-120deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}
.content-container {
    padding: 16px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
}

.content-container__title {
    color: white;
    margin: 0;
    margin-bottom: 1rem;
}

.content-container__player {
    display: block;
    width: 100%;
    margin: auto;
    border: 1px solid #454545;
    border-radius: 0.25rem;
}

.content-container__advanced-info__meta {
    display: flex;
    color: aliceblue;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.content-container__advanced-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    font-size: 14px;
}

.content-container__advanced-info__about {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
}

.content-container__advanced-info__description {
    display: flex;
    font-family: Netflix;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.content-container__advanced-info__genres {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin-left: auto;
    gap: 10px;
}

.content-container__advanced-info__genres-title {
    font-family: Netflix;
    color: #777777;
    display: flex;
}

.content-container__advanced-info__genres-link {
    font-family: Netflix;
    display: block;
    color: white;
}

.content-container__advanced-info__genres-list {
    display: flex;
    flex-direction: column;
}

.content-container__player__actions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
    gap: 10px;
}

.content-container__player__actions a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    padding: 0;
    cursor: pointer;
    color: #fff;
}

.content-container__player__actions a:hover {
    color: gainsboro;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 600px;
    background-color: rgba(218, 216, 216, 0.3);
    max-height: 500px;
    padding: 50px;
    border-radius: 0.45rem;
    margin: 50px auto;
}

.profile-form div {
   display: flex;
   flex-direction: column;
   font-family: Netflix;
   font-weight: 600;

}


.video-item__title {
    color: white;
    margin-left: 2rem;
}

.video-item__container-card {
    margin: 15px 10px;
}

.video-item__container-card:hover {
    transform: scale(1.1);
    transform-origin: center center;
    transition: all .2s linear;
}

.video-item__container-card>div {
    height: 375px;
    width: 100%;
    object-fit: fill;
}

.video-item__container-card>div>img {
    width: 100%;
    height: 100%;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.video-item__advanced-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #454545;
    border-radius: 0.25rem;
    align-items: center;
    height: 40px;
    width: -webkit-fill-available;
    padding: 10px;
    position: absolute;
    margin-top: -50px;
    opacity: 0;
}

.video-item__container-card:hover div a .video-item__advanced-info {
    opacity: 1;
    animation: show .2s linear;
}

.video-item__advanced-info__name {
    color: white;
}

.video-item__advanced-info__rating {
    font-weight: bold;
    /* По умолчанию, сделаем жирный текст */

    /* Задаем стили в зависимости от значения рейтинга */
}

.video-item__advanced-info__rating {
    font-weight: bold;
    /* По умолчанию, сделаем жирный текст */
}

/* Добавьте стили для разных рейтингов с использованием классов в JavaScript */
.rating-high {
    color: green;
}

.rating-medium {
    color: orange;
}

.rating-low {
    color: red;
}
#cast-page {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 25px 100px;
}

.cast-page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 3rem;
    font-weight: 900;
    padding: 0 6%;
    text-align: center;
    color: #D2DBDD;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
}

@font-face {
  font-family: 'netflix';
  src: url(d95b1baea0c3256124c9.woff?g5zjyq) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;

}

.netflix {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'netflix' !important;
  speak: never;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.netflix[kind="info"]:before {
  content: "\e900";
}



.netflix[kind="play"]:before {
  content: "\e901";
}

.netflix[kind="prev"]:before {
  content: "\e906";
}

.netflix[kind="next"]:before {
  content: "\e905";
}

.netflix[kind="play-card"]:before {
  content: "\e901";
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding-top: 4px;
  align-items: center;
}

.netflix[kind="close"]:before {
  content: "\e902";
}

.netflix[kind="upload"]:before {
  content: "\e904";
}
@font-face{font-family:Netflix;src:url(a02ab994a041ae11d8ca.ttf);src:url(cea8acffd548be06c7c7.ttf);src:url(cde797b7181b90930d0f.ttf);src:url(31acc1edd781a074d7f9.ttf);src:url(56a1a855c159e3a3be7d.ttf)}body{background:#000;margin:0;padding:0}html{font-family:Netflix;height:100%}#root{display:flex;flex-direction:column;height:100vh}[disable=true]{color:#000!important;cursor:default;pointer-events:none;-webkit-text-decoration:none!important;text-decoration:none!important}
