@media screen and (min-width: 960px) {
    .header-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1920px) {
    .header-content {
        max-width: calc(66.66666666666666% - 6rem);
    }
}

@media screen and (min-width: 1920px) {
    .header-content {
        max-width: calc(66.66666666666666% - 6rem);
    }
}

.header-content {
    padding-top: 1.5rem;
}
