<div name="profile-form" class="profile-form">
    <div class="profile-form__row">
        <div class="profile-form__row__avatar">
            <img class="avatar avatar-preview" data-avatar="" src="/img/camera_50.png">
            {{> partial/input-control/input-control kind="register-page" file=true
            name="file" placeholder="Загрузите аватар" id="fileInput" type="file"}}
        </div>
        <div class="profile-form__row__form">
            <div>
                <b>
                    <h3>Редактировать профиль</h1>
                </b>
            </div>
            <div class="profile-form__row__form_col">
                <label for="email">Почта</label>
                <div style="display: flex; flex-direction: row; gap: 10px">
                    {{> partial/input-control/input-control kind="register-page"
                    default=true
                    placeholder="Почта"
                    autocomplete="email"
                    id="emailInput"
                    name="email" type="email"}}
                    {{> partial/button/button kind="login" label="Сменить почту" id="submitEmail"}}
                </div>
            </div>
            <div class="profile-form__row__form_col">
                <label for="password">Пароль</label>
                <div style="display: flex; flex-direction: row; gap: 10px">
                    {{> partial/input-control/input-control kind="register-page"
                    default=true
                    placeholder="Пароль"
                    autocomplete="password"
                    id="passwordInput"
                    name="password" type="password"}}
                    {{> partial/button/button kind="login" label="Сменить пароль" id="submitPassword"}}
                </div>

            </div>
        </div>
    </div>

</div>