.profile-form {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-bottom: 5vh;
    border-radius: 0.45rem;
    margin: auto;
    color: #fff;
    animation: show .2s ease;
}

.dialog__payment__container {
    max-width: 224px;
    height: 100%
}

.dialog__payment__container__card {
    display: flex;
    flex-direction: row;
    gap: 16px
}

.profile-form__row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 100%;
}

.profile-form__row__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-form__row__form_col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-form__row__avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:900px) {
    .profile-form {
        max-width: 100%;
        flex-direction: column;
        gap: 30px;

    }

    .profile-form__row {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.profile__config_dialog {
    color: white;
    text-align: center;
}

#payment_profile_dialog {
    color: #fff;
}

.subscription__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscription__container__wrapper {
    border-radius: 0.5rem;
    background-color: var(--dark);
    border: 3px solid rgba(255, 255, 255, 0.15)
}

.subscription__container__card {
    flex: 1 1 auto;
    padding: 1rem;
}

.subscription__container__card__link {
    width: 100%;
    font-weight: 700
}