<div style="display: flex; flex-direction: column; width: 100%; max-width: 360px;">
    <div style="
                    border-radius: 0.5rem; 
                    background-color: #212529;
                    border: 1px solid rgba(255, 255, 255, 0.15)">
        <div style="padding: 0.5rem 1rem; background-color: rgba( 222,226,230 , 0.03);
                        border-bottom: 1px solid  rgba(255, 255, 255, 0.15)">
            {{header}}
        </div>
        <div style="flex: 1 1 auto;    padding: 1rem;">
            <h2>{{title_price}}</h2>
            <p>{{description}}</p>
            <a href="" class="partial-btn" id="payment"></a>
        </div>
    </div>
</div>