<div style="display: flex; flex-direction: column; width: 100%; max-width: 360px;">
    <div style="
                    border-radius: 0.5rem; 
                    background-color: #212529;
                    border: 1px solid rgba(255, 255, 255, 0.15)">
        <div style="padding: 0.5rem 1rem; background-color: rgba( 222,226,230 , 0.03);
                        border-bottom: 1px solid  rgba(255, 255, 255, 0.15)">
            {{header}}
        </div>
        <div style="flex: 1 1 auto;    padding: 1rem;">
            <h2>{{title_price}}</h2>
            <p>{{description}}</p>
            <!--<iframe src="https://yoomoney.ru/quickpay/fundraise/button?billNumber=LruFSAIHq0U.231210&" width="330"
                height="50" frameborder="0" allowtransparency="true" scrolling="no"></iframe>-->
            <form method="POST" action="https://yoomoney.ru/quickpay/confirm">
                <input type="hidden" name="receiver" value="4100118475856202" />
                <input type="hidden" name="label" value="$order_id" />
                <input type="hidden" name="quickpay-form" value="button" />
                <input type="hidden" name="sum" value="2" data-type="number" />
                <input type="hidden" name="referer" value="http://localhost">
                <input type="submit" value="Перевести" />
            </form>
        </div>
    </div>
</div>