<div class="subscription__container">
    <div class="subscription__container__wrapper">
        <div class="subscription__container__card">
            <h2>{{title_price}}</h2>
            <p>{{description}}</p>
            <a href="" class="partial-btn subscription__container__card__link" target="_blank" kind="primary-button"
                id="payment"></a>
        </div>
    </div>
</div>