<div class="feed-collection__container-card cast-container-card" title="{{this.name}}">
    <div class="feed-collection__advanced-info cast-card">
        <a href="/{{baseUrl}}/{{this.id}}" class="feed-collection__advanced-info__link" spa-link>
            {{this.name}}
        </a>
    </div>
</div>