@import url(./avatar/avatar.css);
@import url(./button/button.css);
@import url(./footer/partial-footer.css);
@import url(./header/partial-header.css);
@import url(./input-control/input-control.css);
@import url(./netflix-logo/netflix-logo.css);
@import url(./rating/rating.css);

.cast-card {
    /* max-width: 270px; */
    width: 130px !important;
    height: 120px !important;
}

.cast-container-card {
    min-height: 0 !important;
}