@import url(register.css);


content-main-1-form-reg {
    max-width: 440px;
    margin-left: calc((-500px + 100%)/2);
    margin-top: 25px;
}

content-fragment>h1 {
    margin-top: 0;
    text-align: left;
}

.step-indicator {
    text-align: left;
}

.form-list {
    margin-bottom: 10px;
}

input-continer {
   height: 50px;
   margin-top: 0;
}

.form-input {
    border: 1px solid rgb(128, 128, 128)sparent;
    border-radius: 4px;
}

.email-preference-container {
    flex-wrap: wrap;
    line-height: 1.125rem;
    display: flex;
    align-items: center;
}

#e83093c53429a {
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
    margin-right: 15px;
}

/* #e83093c53429a :hover {
    box-shadow: 0 6px 1px rgba(0, 0, 0, .25);

} */
/* content-fragment h1 {
    margin-top: 0;
}

.step-indicator {
    font-size: 13px;
    text-align: inherit;
    display: block;
}

.form-list {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    flex-direction: column;
    padding: 0px;
}

.form-list>li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: inherit;
    padding: 0px;
    align-content: start;
}

input-continer {
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.form-input {
    background: #FFFFFF;
    border: 1px solid #8c8c8c;
    border-radius: 0;
    line-height: normal;
    padding: 0.5rem 0.5rem 0.5rem;
    color: #000;
    font-family: Netflix Sans;
    font: inherit;
    
    width: 100%;
    min-width: 12.5rem;
    font-size: 16px;
    font-weight: 100;
}

.link-forgot-password {
    color: #0071eb;
    text-decoration: none;
}

.link-forgot-password:hover {
    text-decoration: underline;
}

.submit-register-container {
    margin-top: 24px;
    width: 100%;
}

.submit-register-button {
    border-radius: 4px;
    font-size: 24px;
    font-weight: 400;
    min-height: 64px;

    min-width: 110px;
    padding: 20.5px 2em;
    width: 100%;
    background-color: #e50914;
    color: #fff;
    border: none;

    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
} */