@import url(register.css);


content-main-1-form-reg {
    max-width: 440px;
    margin-left: calc((-500px + 100%)/2);
    margin-top: 25px;
}

content-fragment>h1 {
    margin-top: 0;
    text-align: left;
}

.step-indicator {
    text-align: left;
}

.form-list {
    margin-bottom: 10px;
}

input-continer {
   height: 50px;
   margin-top: 0;
}

.form-input {
    border: 1px solid rgb(128, 128, 128)sparent;
    border-radius: 4px;
}

.email-preference-container {
    flex-wrap: wrap;
    line-height: 1.125rem;
    display: flex;
    align-items: center;
}

#e83093c53429a {
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
    margin-right: 15px;
}
