@import url(utils.css);
@import url(header.css);

@font-face {
    font-family: Netflix;
    src: url(/fonts/NetflixSansMedium.ttf);
}

body {
    background: #000;
    margin: 0;
    padding: 0;
    font-family: Netflix;
    color: white;
    overflow-x: hidden;

}

main {
    display: flex;


}

header {
    width: 100%;
    position: absolute;
}

content-main-1 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    -webkit-transform: scale(1.25) translateY(-10%);
    -moz-transform: scale(1.25) translateY(-10%);
    -ms-transform: scale(1.25) translateY(-10%);
    transform: scale(1.25) translateY(-10%);

    background-image: url(/img/main.jpg);
    background-size: cover;
    /* Растягиваем картинку, чтобы она полностью покрывала блок */
    background-repeat: no-repeat;
    /* Запрещаем повторение картинки */
    background-position: center center;
    /* Выравниваем картинку по центру блока */
    background-attachment: fixed;
    /* Зафиксировать фоновое изображение */
}

content-main-1-background {
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

content-main-1-form {
    max-height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

email-form {
    margin-top: 1.5rem;
}

email-form-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

input-continer {
    margin-bottom: -1.625rem;
    flex-direction: row;
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
}

.form-input {
    background: rgba(22, 22, 22, 0.7);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    line-height: 1.5;
    padding: 0.5rem 0.5rem 0.5rem;
    color: #fff;
    min-width: 12.5rem;
    font-size: 16px;
    font-weight: 400;
    font-family: Netflix;
}