@import url(utils.css);
@import url(header.css);

@font-face {
    font-family: Netflix;
    src: url(/fonts/NetflixSansMedium.ttf);
}

body {
    background: #000;
    margin: 0;
    padding: 0;
    font-family: Netflix;
    color: white;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(229, 9, 20);
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;


}

header {
    width: 100%;
    position: absolute;
}

content-main-1 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    -webkit-transform: scale(1.25) translateY(-10%);
    -moz-transform: scale(1.25) translateY(-10%);
    -ms-transform: scale(1.25) translateY(-10%);
    transform: scale(1.25) translateY(-10%);

    background-image: url(/img/main.jpg);
    background-size: cover;
    /* Растягиваем картинку, чтобы она полностью покрывала блок */
    background-repeat: no-repeat;
    /* Запрещаем повторение картинки */
    background-position: center center;
    /* Выравниваем картинку по центру блока */
    background-attachment: fixed;
    /* Зафиксировать фоновое изображение */
}

content-main-1-background {
    background: rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

content-main-1-form {
    max-height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

email-form {
    margin-top: 1.5rem;
}

email-form-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

input-continer {
    margin-bottom: -1.625rem;
    flex-direction: row;
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
}

.form-input {
    background: rgba(22, 22, 22, 0.7);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    line-height: 1.5;
    padding: 0.5rem 0.5rem 0.5rem;
    color: #fff;
    min-width: 12.5rem;
    font-size: 16px;
    font-weight: 400;
    font-family: Netflix;
}















content-main-2 {

    width: 100%;


}

banner-container {
    display: flex;
    min-height: 144px;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 74px;
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
}

.btn-link {
    cursor: pointer;
    color: #448ef4;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-family: Netflix;
    font-size: 16px;
    background: none;
    border: none;
    text-decoration: underline;
    padding: 0;
}

banner-element-2 {
    margin-left: 32px;
}

.video-container {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

video {
    display: inline-block;
    vertical-align: baseline;
}

content-main-3 {
    display: flex;
    justify-content: center;
}





content-main-4 {
    display: flex;
    justify-content: center;
    border-top: 8px solid #454545;
    min-height: auto;
    padding: 4.5rem 0;
}

content-main-5 {
    display: flex;
    justify-content: center;
    border-top: 8px solid #454545;
    min-height: auto;
    padding: 4.5rem 0;
}

content-main-6 {
    display: flex;
    justify-content: center;
    border-top: 8px solid #454545;
    min-height: auto;
    padding: 4.5rem 0;
}

.mobile-container-1 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0 !important;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 15rem;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    z-index: 1;
    padding: 0.5rem 0.75rem;
    width: 50%;
}

.mobile-col-1 {
    -webkit-text-size-adjust: 100%;
    font-family: Netfli;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0 !important;
    margin: 0 1rem 0 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.mobile-col-2 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0 !important;
    text-align: left;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3rem 0;
}

.mobile-col-2-row-1 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    text-align: left;
    letter-spacing: 0 !important;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
}

.mobile-col-2-row-2 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    text-align: left;
    letter-spacing: 0 !important;
    font-weight: 400;
    color: #0071eb;
    font-size: 0.875rem;
}

.mobile-col-3 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0 !important;
    width: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
    background: url('/img/download-icon.gif') center center no-repeat;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3.75rem;
}

.mobile-image {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0 !important;
    border: 0;
    height: 5rem;
}

.video-container-imac {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 0 !important;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    
    border-top: 8px solid #454545;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-list {
    padding: 4.5rem 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: inherit;
    height: inherit;
    margin-top: -1rem;
    margin-left: -0.75rem;
    width: calc(100% + 0.75rem);
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0px;
}

.footer-list>li {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0 !important;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-left: 0.75rem;
    display: inline-flex;
    flex-wrap: wrap;
    width: inherit;
    padding: 0px;
    flex: 0 0 calc(25% - 0.75rem);
}

.footer-list > li > a {
    color: rgba(255,255,255,0.7);
    border-radius: 0.125rem;
}
@font-face {
    font-family: NetflixLight;
    src: url(/fonts/NetflixSansLight.ttf);
}
.netflix-light{
    font-family: NetflixLight;
    font-size: 14px;
    font-weight: 100;
}