.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-logo-container {
    display: inline-block;
}

.step-logo {
    margin: 100px 0 20px;
    width: 260px;
    display: block;
    background: url(/img/devices.png) no-repeat 50% 50%;
    background-size: 260px;
    height: 90px;
}
