<content-fragment>
    <span class="step-indicator {{#each spanClasses}} {{this}} {{/each}}">
        ШАГ
        <b>1</b>
        ИЗ
        <b>3</b>
    </span>
    <h1 class="mt-0 {{#each headerClasses}} {{this}} {{/each}}">
        {{headerText}}
    </h1>
</content-fragment>