{{> partial/header/partial-header feedPage=true kind="feed-page"}}

<div class="glow-title" style="margin-bottom: 20px; font-size: 2rem;">По вашему запросу найдено:</div>

{{#if hasSeries}}
<div class="glow-title" style="font-size: 2rem;">Сериалы</div>
<div class="genre-container" id="films">
    {{#each serial}}
    {{> partial/preview-card baseUrl="serial" this=this}}
    {{/each}}
</div>
{{/if}}

{{#if hasMovies}}
<div class="glow-title" style="font-size: 2rem;">Фильмы</div>
<div class="genre-container" id="films">
    {{#each films}}
    {{> partial/preview-card baseUrl="movies" this=this}}
    {{/each}}
</div>
{{/if}}

{{#if hasCast}}
<div class="glow-title" style="font-size: 2rem;">Актеры</div>
<div class="genre-container" id="cast">
    {{#each cast}}
    {{> partial/cast-card baseUrl="cast" this=this}}
    {{/each}}
</div>
{{/if}}

{{> partial/footer/partial-footer}}