
<div class="header-content">
    <div class="row">
        <div class="col justify-content-start">
            <img src="src/static/img/logo.svg" alt="logo">
        </div>
    </div>
</div>
