<div class="header-content">
    <div class="row">
        <div class="col justify-content-start">
            <a href="/" id="login-link" data-link>
                <img src="src/static/img/logo.svg" alt="logo">
            </a>
        </div>
    </div>
</div>
