<div class="email-preference-container">
    <input type="checkbox" placeholder="" id="e83093c53429a" name="emailPreference">
    <label for="e83093c53429a" class="email-preference-lable">Присылать специальные предложения от Netflix</label>
</div>
