.email-preference-container {
    flex-wrap: wrap;
    line-height: 1.125rem;
    display: flex;
    align-items: center;
}

#e83093c53429a {
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
    margin-right: 15px;
}
