<div style="border-top: 8px solid #454545;">
    <div class="container netflix-light" style="max-width: 1000px; ">
        <div class="row py-5">
            <div class="col d-flex align-items-center border-f">
                {{> netflix-logo}}
            </div>
            <div class="col menu-a border-f">
                <p>Команда Holi</p>
            </div>
            <div class="col menu-a">
                <p>Осень 2023</p>
            </div>
        </div>
    </div>
</div>