<div class="footer-wrapper">
    <div class="footer-divider"></div>
    <div class="footer">
        <div class="container">
            <div class="header-divider"></div>
            <p class=footer-top>
                <a>
                    Есть вопросы? Свяжись с нами.
                </a>
            </p>
            <ul class="footer-list">
                <li>
                    <a role="link" href="https://help.netflix.com/support/412">
                        <span>FAQ</span>
                    </a>
                </li>

                <li>
                    <a role="link" href="https://help.netflix.com/support/412">
                        <span>Аккаунт</span>
                    </a>
                </li>

                <li>
                    <a role="link" href="https://help.netflix.com/support/412">
                        <span>Медиацентр</span>
                    </a>
                </li>

                <li>
                    <a role="link" href="https://help.netflix.com/support/412">
                        <span>Магазин</span>
                    </a>
                </li>

                <li>
                    <a role="link" href="https://help.netflix.com/support/412">
                        <span>Помощь</span>
                    </a>
                </li>

                <li>
                    <a role="link" href="https://help.netflix.com/support/412">
                        <span>Только на Нетфликсе</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>