.genre-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: start;
    gap: 50px;
    padding: 50px;
}

@media (max-width: 900px) {
    .genre-container {
        justify-content: center;
    }
}