.admin__panel__title {
    font-family: Netflix;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.admin__panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin__panel__form {
    background-color: rgba(218, 216, 216, 0.3);
    min-height: 600px;
    min-width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin__panel__form__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding: 0.5rem;
    font-size: 1.2rem;

}

.admin__panel__form__block__row {
    display: flex;
    justify-content: start;
}