{{> partial/header/partial-header kind="feed-page" feedPage=true}}

<div class="admin__panel">
    <div class="admin__panel__title">Статистика проекта</div>

    <div class="admin__panel__form">
        {{#each content}}
        <div class="admin__panel__form__block">
            <div class="admin__panel__form__block__title">
                {{this.name}}

                {{#each this.value}}
                <div class="admin__panel__form__block__row">
                    {{this.key}} : {{this.value}}
                </div>
                 {{/each}}
            </div>
        </div>
        {{/each}}
    </div>

</div>
{{> partial/footer/partial-footer}}