.genre-carousel {
    width: 100%;
    height: 400px;
}

.genre-card-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 10px;
    gap: 20px;
    transition: transform 0.3s ease;
}

.genre-card{
    min-height: 350px;
    min-width: 250px;
}

.genre-card>img {
    overflow: hidden;
    max-height: 350px;
}

.genre-card:hover > img {
    border: 5px solid rgba(255, 255, 255, 0.5);
    margin-top: -5px;
    box-shadow: 0 0 60px red;
}