.partial-btn {
    padding: 0.25rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    min-height: 2rem;
    width: auto;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    text-decoration: none;
}

button.partial-btn[kind="primary-xl"] {
    background-color: var(--primary);
    color: white;
    font-size: 24px;
    margin-top: 24px;
    min-height: 64px;
    min-width: 110px;
    padding: 20.5px 2em;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: normal;
    border: 0;
    cursor: pointer;
}

.partial-btn[kind="primary-xl"] {
    background-color: var(--primary);
    color: white;
    font-size: 24px;
    margin-top: 24px;
    min-height: 64px;
    min-width: 110px;
    padding: 20.5px 2em;
    width: 100%;
    box-sizing: border-box;
}

.partial-btn[kind="primary-xl"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: var(--primary-hover);
}

.partial-btn[kind="login"] {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    margin: 24px 0 12px;
    background-color: var(--primary);
    color: white;
    appearance: none;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: normal;
    border: 0;
    cursor: pointer;
}

.partial-btn[kind="login"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: var(--primary-hover);
}

.partial-btn[kind="primary-button"] {
    background-color: var(--primary);
    color: white;
    appearance: none;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: normal;
    border: 0;
    cursor: pointer;
}

.partial-btn[kind="primary"] {
    background-color: var(--primary);
    color: white;
}

.partial-btn[kind="primary"]:hover,
.partial-btn[kind="primary-button"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: var(--primary-hover);
}


.partial-btn[kind="secondary"] {
    background-color: none;
    color: var(--dark);
    font-size: 19px;
}

.partial-btn[kind="secondary"]:hover {
    color: var(--dark-hover);
}

.btn-action {
    padding: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    min-height: 2rem;
    width: auto;
    gap: 10px;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    text-decoration: none;
}

.btn-action[kind="play"] {
    background: white;
    color: black;
}

.btn-action[kind="play-card"] {
    background: white;
    color: black;
    padding: 7px;
    min-height: 1rem;
    font-size: 0.5rem;
}

.btn-action[kind="info"] {
    color: white;
}

.btn-action[kind="play"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: rgba(255, 255, 255, 0.8);
    color: black;
}


.btn-action[kind="info"]:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    color: rgba(255, 255, 255, 0.575);
}