.step-indicator-finish-acc {
    text-align: center;
}

.step-header-finish-acc {
    text-align: center;
}

.step-header-create-password {
    text-align: left;
}

.step-indicator-create-password {
    text-align: left;
}
